[2018-07-02 23:45] writingmama2 opened #2 "My Experience with Flight Hub"
Thank you for the opportunity to learn more about Windows 10 ~ for the past few years, I have really enjoyed learning about Windows 10 and with your help fixing any errors and problems I have had.  It has been an experience for me to learn more about computers and programs.
No problems at present ~Thank You!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2018-07-16 12:10] orindlt opened #7 "Missing headers for Failover Cluster NTLM and Shielded VM changes"
After Windows Defender Application Control there should be headers for "Failover Cluster removing use of NTLM authentication" and "Shielded virtual machines – Offline mode, VMConnect and Linux support" as these are also clearly separate sections of the document (which should also be present in the index at the top of the document)

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2018-07-16 13:04] orindlt opened #8 "Link to Failover Cluster File Share Witness and DFS New File Share Witness Feature in Windows Server 2019."
There looks like there should be a link with the text "Failover Cluster File Share Witness and DFS New File Share Witness Feature in Windows Server 2019" to https://blogs.msdn.microsoft.com/clustering/2018/04/13/failover-cluster-file-share-witness-and-dfs/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f7de7e-c8cd-79

[2018-07-16 19:12] dawnwood commented on #7
Nice catch! This is fixed and propped to the live server now. thanks!

[2018-07-16 19:12] #7 closed

[2018-07-20 05:09] MasayukiOzawa opened #10 "FoD ISO can not be downloaded with Windows Server vNext Preview - Build 17713"
I'd like to try out the function of FoD with ver 17713, but there seems to be no ISO download link of FoD from
https: //www.microsoft.com/en-us/software-download/windowsinsiderpreviewerver.
In Ver 17713, where can i download the FoD ISO from?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f7de7e-c8cd-793d-6fb8-334582

[2018-07-20 15:00] dawnwood commented on #10
Hi MasayukiOzawa,
 We did not release the FOD with 17713 due to a problem with installation. It will be back with the next Insider release.
Hope this helps.

[2018-07-20 15:00] #10 closed

[2018-08-13 13:50] Atamido opened #20 "Faster sign-in"
The Faster sign-in section describes how to enable it, but doesn't indicate what is being given up.  Are there applications or features that will not work for fast signed in users?  Will some stuff simply work more slowly opening for the first time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 889fc0db-6485-8268-c65e

[2018-08-13 20:36] dawnwood commented on #20
Hi @Atamido, thank you for the question.
When the FastSignIn feature is enabled, Windows creates a “candidate profile” in advance. Once the user has successfully authenticated during the sign-in process, the account is connected to the pre-created candidate profile, which results in a time savings.

No noticeable difference in end-user experience is expected. We encourage you to try out the featur

[2018-08-13 20:36] #20 closed

[2018-08-14 01:04] Atamido commented on #20
As there is "no noticeable difference in end-user experience", is there any reason this feature is not enabled by default?  Or is the feature intended to be broadly tested first?

[2018-08-14 01:51] k3tonan opened #22 "Great way to track progress!"
Either I have overlooked this or this was recently introduced. I have been using some unofficial site for tracking that is confusing at least to start. This computes with my mind.

Thanks!

P.S. I wish every application had feedback and tracking.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b0

[2018-08-14 15:30] dawnwood commented on #22
Hi @k3tonan Thank you for the feedback! We're glad this page is helpful.
Best,
Dawn

[2018-08-14 15:30] #22 closed

[2018-08-14 18:08] dawnwood commented on #20
FastFirstSignIn has been designed for Shared PCs where transient users come and go. Such users are the ones who will benefit the most as their experience is tremendously improved. As mentioned, in order for this to work, the System creates a candidate profile which uses up resources.

On personal PC’s this feature will not be used, which is why it is not enabled by default.

[2018-08-23 15:01] neilgascoigne opened #30 "FoD ISO DISM Fails"
Hi

I'm new to the Preview, so please could you help with the FoD binaries?

Installed **Server Core Datacentre build 17738** using Windows_InsiderPreview_Server_vNext_en-us_17738.iso
Mounted ISO Windows_InsiderPreview_ServerCoreAppCompatibility_17738.iso
Under command prompt (not Powershell), per instructions, I ran

DISM /Online /Add-Capability /CapabilityName:Server.Appcompat~~~~0.0.1.0 /Source

[2018-08-23 16:56] dawnwood commented on #30
Hi @neilgascoigne Thanks for reaching out to the Windows Insider Program Documentation team. Unfortunately, we can't offer individual technical advice to the broad array of customers who use the documentation. You may have success posting your question in the [Windows 10 forums](https://social.technet.microsoft.com/Forums/en-US/home), where other partners and Microsoft engineers can be found. The

[2018-08-24 14:01] dawnwood commented on #30
Hi @neilgascoigne Now I know what you're talking about! Thank you for the clarification. I will review those steps and update accordingly. I'll @ mention you when that happens. Until then I'll reopen this issue so you can follow it through to completion.
Best,
Dawn

[2018-08-24 18:53] kl07 opened #32 "Windows Insider Feedback 4th week of August 2018"
Acknowledgement of the New Feature of Windows Insiders Preview.
I accept to keep using Windows IT Platform for further improvements.
I thank you for issuing this feedback on Github website through your reading and your understanding.

Sincerely,

kl07

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-07

[2018-08-25 03:11] HaydenHolcomb opened #34 "Build 16296 Date and Link"
The release date for Fast Ring should be 9/22/2017. The link also doesn't go to the blog post, it goes back to Flight Hub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com

[2018-08-25 03:12] HaydenHolcomb opened #35 "RS2 Builds"
Only one of the builds listed under RS2 is actually from RS2, the rest are from RS5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-insider/flight-hub/#win

[2018-08-27 20:28] dawnwood commented on #32
@kl07 Thank you for the comment.

[2018-08-27 20:28] #32 closed

[2018-08-27 20:53] dawnwood commented on #34
Hi @HaydenHolcomb You are correct. I fixed the date and the link in the private docs repo, you should see the change on the live site later this afternoon.

[2018-08-27 20:53] #34 closed

[2018-08-27 20:55] dawnwood commented on #35
Thank you @HaydenHolcomb I fixed this copy/paste error and you should see the fix later this afternoon.

[2018-08-27 20:55] #35 closed

[2018-08-28 19:31] dawnwood commented on #30
Hi @neilgascoigne I have updated the instructions.

[2018-08-28 19:31] #30 closed

[2018-08-29 09:56] neilgascoigne commented on #30
@dawnwood you're very lovely, thank you!  Correcting the capability name from "Server.Appcompat~~~~0.0.1.0" to "ServerCore.Appcompatibility~~~~0.0.1.0" indeed works. Many thanks for amending the documentation :-)

-NG-

[2018-08-29 15:16] dawnwood commented on #30
@neilgascoigne I am glad the instructions work!! Thanks again for raising this issue.
Best,
Dawn

[2018-09-21 23:26] erhuan-msft opened #50 "Title Typo"
Acrylicic should be Acrylic

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9e436-c660-6203-3438-2f75b8b128f4
* Content: [What's new in the Windows 10 Insider Preview Builds (RS5)](https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-

[2018-09-24 16:58] dawnwood commented on #50
Thank you, @erhuan-msft I've made that change.

[2018-09-24 16:58] #50 closed

[2018-09-28 08:50] cmendible opened #56 "Installing FoD in a container"
Hi there!

Current FoD installation requieres a restart after each **DISM** step, and that is something you cannot do in a container scenario.

For instance, in my **dockerfile** I'm running **DISM** commands with the **/NoRestart** flag:

`RUN DISM /Online /Add-Capability /CapabilityName:ServerCore.Appcompatibility~~~~0.0.1.0 /Source:C:/fod /LimitAccess /NoRestart`

or

`RUN DISM /online /add-pac

[2018-09-30 16:11] alvinchen1 opened #58 "Windows IOT Updates are not listed promptly"
As of 9/23/2018, Windows 10 IOT October 2018 Update (RS5) released build 17763 released for Insiders.  See https://social.msdn.microsoft.com/Forums/en-US/cfb8cb1c-cecc-4116-aed1-c7a002464dcf/new-flight-17763-released-for-insiders?forum=WindowsIoT

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b0

[2018-09-30 18:27] aruproy14 opened #59 "Screen Sketch is called Snip & Sketch"
The section about Snip & Sketch should be updated to use the new title (the screenshot needs to be updated as well).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9e436-c660-6203-3438-2f75b8b128f4
* Content: [What's new in the Windows 10 Insider Preview

[2018-10-01 10:31] WinObs opened #60 "New Clipboard Experience in RS5 Now Supports Images Up to 4MB"
Under the "Note:" for the new Clipboard Experience in RS5 in these docs, it indicates supported images up to 1MB in size however, according to the Windows 10 RS5 Build 17741 Release Notes at https://blogs.windows.com/windowsexperience/2018/08/17/build17741/ that limit has been raised to 4MB "to accommodate the potential size of full screen screenshots taken on a high-DPI devices."

Windows-Insider

[2018-10-01 11:01] WinObs commented on #60
Closed since I submitted a recommended edit via PR.

[2018-10-01 11:01] #60 closed

[2018-10-01 21:12] Brentfor commented on #56
Hello, what are you attempting to get working by adding the FOD to a container?  Thanks!

[2018-10-02 07:39] cmendible commented on #56
Hi @Brentfor there are at least two scenarios were adding FoD to a container will be helpful:

1. **IE** and **Edge** are needed in containers for selenium tests as you can confirm in the Windows Server User Voice Forum: [Provide an Internet Explorer docker container: enable UI capability](https://windowsserver.uservoice.com/forums/304624-containers/suggestions/17506354-provide-an-internet-explore

[2018-10-04 16:32] dawnwood commented on #56
Hi @cmendible Thank you for the feedback. We've heard you. Because this is no longer a documentation issue, I'm closing this thread. To provide product feedback in the future, you might want to go straight to the source by using the "product feedback" button at the bottom of every page on docs.microsoft.com.

[2018-10-04 16:32] #56 closed

[2018-10-04 16:45] dawnwood commented on #58
Hi @alvinchen1 Thank you for noticing this. I've updated the table and it will be live soon.
Best,
Dawn

[2018-10-04 16:45] #58 closed

[2018-10-04 16:51] dawnwood commented on #59
Hi @aruproy14 You are so right! We're working on this topic now and should have updates tomorrow or early next week. I'll leave this comment open until those fixes are in so you can verify.
Thank you for taking time to make the docs more accurate.
Best,
Dawn

[2018-10-10 16:16] bkpearson opened #70 "Copy/Paste Issue?"
I know RS5 just went out but should the text below the "Next feature update for Windows 10 (19H1)" header be changed? It still mentions RS5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://

[2018-10-11 10:59] dskiller opened #71 "Game bar improvements"
Dedicate resources was removed in 17692 build and never added back...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9e436-c660-6203-3438-2f75b8b128f4
* Content: [What's new in the Windows 10 Insider Preview Builds (RS5)](https://docs.microsoft.com/en-us

[2018-10-11 19:27] dawnwood commented on #70
Hey @bkpearson You are right!! I made the fix and thank you for noticing.
Best,
Dawn

[2018-10-11 19:27] #70 closed

[2018-10-11 19:37] dawnwood commented on #71
Thanks, @dskiller We're updating this topic and will ensure this is addressed. Thanks for letting us know!
Best,
Dawn

[2018-11-14 18:48] KB4284848 opened #81 "18282 is not listed in 19H1 section"
https://blogs.windows.com/windowsexperience/2018/11/14/announcing-windows-10-insider-preview-build-18282

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-ins

[2018-12-02 01:54] KB4284848 commented on #81
Closing issue since Flight Hub has been updated to add 18282 and 18290

[2018-12-02 01:54] #81 closed

[2018-12-05 22:31] KexyBiscuit commented on #81
And this repo is no longer up-to-date.

[2018-12-07 17:03] kennethyha opened #86 "Please fix metro app running in background Windows 10"
Metro apps such as calculator and Microsoft Edge still run in background and randomly starts itself although background apps in settings is toggled off. This need to be fixed because random waking up of apps causes inconsistent fps in games which affects the competitive gameplay experience. Please fix that before moving snipping tools to store. Keep up the good work!

---
#### Document Details

⚠

[2018-12-10 21:55] ItzLevvie commented on #86
@kennethyha Please report such issue in the Feedback Hub.

This GitHub repository focuses on the technical documentation of the Windows Insider Program and therefore any issues reported on Windows 10 in GitHub will be ignored by the team

[2018-12-11 10:46] kennethyha commented on #86
Hi sir, thanks for reply. I reported many times since Windows 10 is still
in beta phase, not released yet, but it seems the problem still persists in
the build I am using now 17763. Can you please help to notify the developer
team? Thanks in advance.

On Tue, Dec 11, 2018 at 5:55 AM Ronit Sajeey <notifications@github.com>
wrote:

[2018-12-14 14:27] denniagpam opened #87 "Just one word: wow!"
for years, I had been tried all Windows versions with no defective
nothing wrong if I give the value from 9 to 10 for this kind of work

awesome

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [What's new in th

[2018-12-19 21:18] midnight2105 opened #90 "misspelling"
Line 5 I think yoru is supposed to be your
You can register with either yoru work account in Azure Active Directory or your Microsoft account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4b123d9-739d-729e-378c-b2eeb88ad8f0
* Version Independent ID: cfe614e9-a2f7-aa3e-e075-afecad232df6
* Content: [Register for the W

[2018-12-26 17:39] Rahsna opened #91 "RS4 table has vertical borders"
Judging on the design of the remaining tables, it looks like the table of RS4 have vertical borders, which none of the other tables have. I assume it is an oversight in the table design 🙂
As a side effect, this adds a horizontal scrollbar to that table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-

[2018-12-26 19:09] HaydenHolcomb opened #92 "Table of contents links"
In the table of contents on the left, there are two links that are incorrect.
1. "What's new for Windows 10 Insider Preview Builds" links to https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-at-home which gives a 404 error. The link should be https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home
2. "What was new for Windows 10, version 1809" links to https

[2019-01-04 16:58] BR77BE opened #93 "Dark theme in File Explore"
ExploreR

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [What's new in the Windows 10 Insider Preview Builds (RS5)](https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1809)
* Conten

[2019-01-10 19:11] HaydenHolcomb commented on #92
Looking at the source on GitHub, the links appear to be correct (MicrosoftDocs/windows-insider/wip/flight-hub/TOC.md). But when using Inspect Element in a browser, the href link there is incorrect.

[2019-01-11 09:33] tip2tail opened #94 "Documentation shows git conflicts"
The documentation at https://docs.microsoft.com/en-gb/windows-insider/at-home/whats-new-wip-at-home is showing a number of Git conflict markers and commit IDs throughout it.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9e436-c660-6203-3438-2f75b8b128f4

[2019-01-11 09:52] hNczy opened #95 "Indic Phonetic keyboards now available for PC - gif - It isn't anim gif"
Actuially in the article https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home#notepad-updates-build-18298 - in the block `Indic Phonetic keyboards now available for PC` - the referenced animation gif: https://docs.microsoft.com/en-us/windows-insider/at-home/images/18272-image3.gif is not an animation.

From the article:

[2019-01-11 15:00] lbmonsalve opened #96 "download PDF link result in empty file"
when I click in "download PDF" link at left-bottom of page (https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home#introducing-windows-sandbox-build-18305) the output file is empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9

[2019-01-11 15:50] bjthomson opened #97 "All this "whats new for insiders" is great, but"
It would be really handy to have a final, polished version for end-users available after an update, otherwise, its a case of "hunt the changes", and "oo look what I just found". When I updated last time, I did see a screen with some tips, but it went away, and now I cant find it.
Make it a web page, and leave a shortcut on the desktop + in my inbox + on the start menu, etc etc.

I've said many tim

[2019-01-11 16:20] drewswaycool commented on #94
It did provide a good laugh however..

[2019-01-12 08:15] UnityUser opened #98 "Prevent WakeUp"
There are a lot of reasons TURN OFF computer WakeUp - for example, I don't want to get up in the middle of the night because of my PC is lighting like New Year's tree.
Please add a feature COMPLETELY turn OFF wake up from hibernation. Critical Updates or not - it does not matter. I will spend my time when I turn my computer on and will wait for the updates installed. But I will be MY decision!
Tha

[2019-01-13 23:37] stevenbouillon commented on #30
Will you please update the instructions again? I’m at my wits end trying to get this to work. I’ve installed it on one server core instance but I can’t on the other. Identical installs, ran the exact same command via copy/paste.

[2019-01-19 18:50] tip2tail commented on #94
@lizap - I see that this has now been fixed :)

[2019-01-22 20:54] BR77BE commented on #92
Why no announcements for Release Preview ring?

[2019-02-02 01:40] hoyty76 opened #99 "Add link to 1803 text"
In the comment below 1803 release text should link to https://blogs.windows.com/windowsexperience/2018/04/30/whats-new-in-the-windows-10-april-2018-update/ as RS2 / RS3 text does.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1

[2019-02-02 01:47] hoyty76 opened #100 "1809 text needs to be finalized"
The 1809 text still references skip ahead build. It needs to be updated to something like:
 "Windows 10 October 2018 Update (link to https://blogs.windows.com/windowsexperience/2018/10/02/empowering-a-new-era-of-personal-productivity-with-new-surface-devices/ maybe, not really announce post for 1809) was originally released on October 2, 2019. Then on October 9, 2019 the roll-out was paused (link

[2019-02-02 01:48] hoyty76 opened #101 "19H1 slow builds?"
Add 19H1 slow build dates, if there are any?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-insider/flight-hub/)
* Content Source: [wip/flight-hub/index.md

[2019-02-02 01:50] hoyty76 opened #102 "Add Release Preview column to RS4 / RS5"
There may only be one build but if there was ever a release preview build in RS4 / RS5 could you add it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-ins

[2019-02-05 21:59] FrogletApps opened #103 ""Build 18298" misspelt as "Bu8ild 18298""
https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home#start-menu-improvements-bu8ild-18298

[2019-02-14 19:54] theterminator3000 opened #104 "Updates from docs.microsoft.com do not reflect what is in this repo"
This repo no longer reflects the changes made to https://docs.microsoft.com/en-us/windows-insider/flight-hub/ which is also out of date. Is there a way of getting the two back in sync again?

[2019-02-14 20:49] theterminator3000 opened #106 "Build 18298" misspelt as "Bu8ild 18298"
https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home#start-menu-improvements-bu8ild-18298

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9e436-c660-6203-3438-2f75b8b128f4
* Content: [What's new in the Windows 10 Insider Preview

[2019-02-15 21:09] pownas commented on #97
Here are the link to Windows IT-Pro docs where you can find all polished versions:
https://docs.microsoft.com/en-us/windows/whats-new/

Tips:
1. Go to docs.com
2. Click on “Windows”
3. Under “Windows documentation”-title, press on “Developer” to show a drop down-list (not so visible tho...) , and switch to: “IT-Pro”. There you will find a lot of Windows pro user documentation.

[2019-02-15 22:22] angww opened #107 "Image animation is missing"
In [Input Improvements](https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home#input-improvements-build-18272) the second image (gif) are not correct. Image animation is missing.

Image link: [image using the Hindi Phonetic keyboard](https://docs.microsoft.com/en-us/windows-insider/at-home/images/18272-image3.gif)

---
#### Document Details

⚠ *Do not edit this section. It

[2019-02-16 22:58] Ry5ter opened #108 "20H1 Skip ahead build number typo?"
18836 not 18336 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-insider/flight-hub/)
* Content Source: [wip/flight-hub/index.md](https://github.com/Micros

[2019-02-21 22:44] NazmusLabs opened #109 "Missing PDF"
Clicking "Download PDF" yields in Microsoft Edge noting that the PDF is empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [What's new in the Windows 10 Insider Preview Builds (RS5)](https://docs.microsoft.

[2019-02-26 03:47] chargen opened #110 "share is.."
\\wsl$

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9e436-c660-6203-3438-2f75b8b128f4
* Content: [What's new in the Windows 10 Insider Preview Builds (19H1)](https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home#linux-files-ins

[2019-02-28 08:23] adminjakab opened #111 "Cmd default font size to small"
Cmd default font size is to small. Please change it min. 16 size.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df65515f-272d-53f6-0740-d19784a517f0
* Version Independent ID: 83d9e436-c660-6203-3438-2f75b8b128f4
* Content: [What's new in the Windows 10 Insider Preview Builds (19H1)](https://docs.microsoft.com/en-us/wi

[2019-03-01 06:17] FifoTheHein commented on #111
I change mine to font size 12 default. In my opinion 14 is too big, but its probably the best average for most users.

[2019-03-01 10:20] robertwray opened #112 "Use an unambiguous format for dates"
The dates that are being shown are in MM/DD/YYYY format which is primarily used in the United States.

Please switch dates to the YYYY-MM-DD (ISO:8601) format to remove ambiguity. Depending on where you are in the world 01/02/2020 is one of two dates, but 2020-02-01 isn't overloaded in this way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-03-08 07:51] it0056 opened #113 "Skip Ahead for Windows 10 (20H1) is most times out of date"
I noticed that the release notes of the "Skip Ahead" 20H1 (and previously 19H1) links are always late. The blog-item does  exist only the Flighthub en Feedback hub doesn't have a link/content item.. This makes it harder to find the corresponding release notes to decide if you're gonna install this release. Please automate this..

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2019-03-08 16:07] BR77BE commented on #102
Release Preview ring for RS5 has received 18 builds which are not documented by Microsoft anywhere:
https://changewindows.org/build/redstone5/17763/pc

[2019-03-08 23:49] #110 closed

[2019-03-08 23:50] lizap commented on #108
Yep, that was a typo - we've fixed it. Thanks!

[2019-03-08 23:50] #108 closed

[2019-03-08 23:52] lizap commented on #107
Closing as fixed as I see only one image and it's animated. Please reopen if I'm in the wrong. Thanks!

[2019-03-08 23:52] #107 closed

[2019-03-08 23:58] lizap commented on #106
Thanks for raising this issue - just pushed a fix.

[2019-03-08 23:58] #106 closed

[2019-03-09 00:00] lizap commented on #103
Thanks - just fixed this issue.

[2019-03-09 00:00] #103 closed

[2019-03-09 00:01] lizap commented on #101
The first was added for 2/29.

[2019-03-09 00:01] #101 closed

[2019-03-09 00:04] lizap commented on #98
The best way to get this feedback heard is to submit it through the Feedback Hub on Windows 10. Thanks!

[2019-03-09 00:04] #98 closed

[2019-03-09 00:04] #97 closed

[2019-03-09 00:21] lizap commented on #104
Thanks - we've resynched the repos.

[2019-03-09 00:21] #104 closed

[2019-03-09 00:22] lizap commented on #94
Merge conflicts are my plague in this content set. Thanks for flagging it! Please - keep doing so!

[2019-03-09 00:22] #94 closed

[2019-03-09 00:29] lizap commented on #90
Yep, should have been "your." Fixing now -thanks!

[2019-03-09 00:29] #90 closed

[2019-03-09 00:30] #87 closed

[2019-03-09 00:34] lizap commented on #92
Thanks for flagging the issue - I've fixed the TOC links. Thanks!

[2019-03-09 00:34] #92 closed

[2019-03-09 09:03] Ry5ter commented on #108
Thanks 😁

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Liza Poggemeyer <notifications@github.com>
Sent: Friday, March 8, 2019 11:50:46 PM
To: MicrosoftDocs/windows-insider
Cc: Ryan Spooner; Author
Subject: Re: [MicrosoftDocs/windows-insider] 20H1 Skip ahead build number typo? (#108)

Yep, that was a typo - we've fixed it. Thanks!

—
You are receiving this

[2019-03-09 21:52] bjthomson commented on #97
I didn't see this till today. My original post was relating to *end-user* documentation, not IT pros or developers.

Oh Well.

[2019-03-11 19:15] lizap commented on #91
Hi, this is related to how big the table is on your display - try zooming in or out, and you'll see different borders on the table. Because this is part of the default behavior of the site, it's not something that we control - as such, I'm going to close this issue. Thanks!

[2019-03-11 19:15] #91 closed

[2019-03-14 13:37] nagaozen commented on #56
Because there's no "product feedback" at <https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/features-on-demand-v2--capabilities>, I'll post here. I'm the author of a popular Active Server Pages framework, [ASP Xtreme Evolution (AXE)](https://github.com/nagaozen/asp-xtreme-evolution), and we have a hack to leverage node.js npm packages to work inside our environment <https://git

[2019-03-14 17:27] Brentfor commented on #56
Adding Vinicius Apolinario as I believe he has recently worked with the App Compatibility FOD in containers.

Vinicius, did you add the FOD with DISM /online or DISM /offline?

From: Fabio Zendhi Nagao <notifications@github.com>
Sent: Thursday, March 14, 2019 6:38 AM
To: MicrosoftDocs/windows-insider <windows-insider@noreply.github.com>
Cc: Brent Forman <brentf@microsoft.com>; Mention <mention@nor

[2019-03-14 17:33] Brentfor commented on #56
/online. I followed the documentation here: https://docs.microsoft.com/en-us/windows-server/get-started-19/install-fod-19
See that I installed on the Server Core container host, not the container itself.
V

From: Brent Forman <brentf@microsoft.com>
Sent: Thursday, March 14, 2019 10:28 AM
To: MicrosoftDocs/windows-insider <reply@reply.github.com>; MicrosoftDocs/windows-insider <windows-insider@nore

[2019-03-15 12:47] mypil commented on #93
@officedocsbot assign @mypil

[2019-03-15 16:11] mypil commented on #93
@officedocsbot assign @mypil

[2019-03-15 17:02] mypil commented on #93
@officedocsbot assign @mypil

[2019-03-18 17:12] nagaozen commented on #56
Does it mean that installing FoD on the host will make it available in the container too? I'm confused, it doesn't work in my environment. We are asking for the FoD on the container itself.

[2019-03-19 18:30] mypil commented on #86
@officedocsbot assign @mypil

[2019-03-19 18:42] mypil commented on #86
@kennethyha - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make the Windows Insider Program better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice **https://insider.windows.com/en-us/how-to-feedback/#submit-feedback-on-behalf-of-your-organization**
You

[2019-03-19 18:42] mypil commented on #86
@officedocsbot close

[2019-03-19 18:42] #86 closed

[2019-03-19 18:50] mypil commented on #95
@officedocsbot assign @mypil

[2019-03-19 18:50] mypil commented on #96
@officedocsbot assign @mypil

[2019-03-19 18:51] mypil commented on #96
@lbmonsalve - Thank you for pointing this out.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-19 18:54] mypil commented on #96
@lizap - I checked on the Download link and it redirects to a page with a message-"Error
Failed to load PDF document." Here's the Download link URL - [](https://opdhsblobprod04.blob.core.windows.net/contents/8bbef6de52cc41879cccbe6cf3d0ddab/d98c1dd4008f04b2e9800998ecf8427e?sv=2015-04-05&sr=b&sig=%2F0o3wAQ7EFLXUaDWP4Qjd9lwzW%2FmTOtI8Q7LJ2NSomA%3D&st=2019-03-19T18%3A38%3A09Z&se=2019-03-20T18%3A48%3A

[2019-03-19 19:06] mypil commented on #95
@hNczy - Thank you for submitting feedback.

I checked on the article and could not find the portion that you are referring to so it is possible that it may have been removed by the doc owner. Can you please check again and let me know which portion of the article should be edited and/or included?

[2019-03-20 16:32] mypil commented on #109
@officedocsbot assign @mypil

[2019-03-20 16:34] mypil commented on #109
@NazmusLabs - Thank you for pointing this out.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-20 16:36] mypil commented on #109
@lizap - I checked on the Download link and it redirects to a page with a message-"Error
Failed to load PDF document." Here's the Download link URL - **https://opdhsblobprod04.blob.core.windows.net/contents/8bbef6de52cc41879cccbe6cf3d0ddab/d98c1dd4008f04b2e9800998ecf8427e?sv=2015-04-05&sr=b&sig=9WZ8i3uvM78mrD%2F7SdlReXsfM6VgBbkFud3w80ZTOus%3D&st=2019-03-20T16%3A25%3A37Z&se=2019-03-21T16%3A35%3A37Z

[2019-03-20 16:40] mypil commented on #113
@officedocsbot assign @mypil

[2019-03-20 16:42] mypil commented on #113
@it0056 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make the Windows Insider Program better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice **https://insider.windows.com/en-us/how-to-feedback/#submit-feedback-on-behalf-of-your-organization**
You migh

[2019-03-20 16:42] mypil commented on #112
@officedocsbot assign @mypil

[2019-03-20 16:43] mypil commented on #111
@officedocsbot assign @mypil

[2019-03-20 16:44] mypil commented on #102
@officedocsbot assign @mypil

[2019-03-20 16:44] mypil commented on #100
@officedocsbot assign @mypil

[2019-03-20 16:44] mypil commented on #99
@officedocsbot assign @mypil

[2019-03-20 16:45] mypil commented on #99
@hoyty76 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-20 16:45] mypil commented on #100
@hoyty76  - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-20 16:46] mypil commented on #102
@hoyty76  - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-03-20 17:23] mypil commented on #112
@robertwray - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make the Windows Insider Program better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice **https://insider.windows.com/en-us/how-to-feedback/#submit-feedback-on-behalf-of-your-organization**
You

[2019-03-20 17:23] mypil commented on #111
@adminjakab - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make the Windows Insider Program better. They keep a close tab on user feedback and it would be awesome if you could add your voice in User Voice **https://insider.windows.com/en-us/how-to-feedback/#submit-feedback-on-behalf-of-your-organization**
You

[2019-03-20 17:53] cmendible commented on #56
As stated by @nagaozen we need FoD inside a container not in the host....

[2019-03-20 20:01] Brentfor commented on #56
Although we are working to get more clarity, at this time we don’t believe FODs are supported in containers.  Sounds like having the App Compatibility FOD in Server Core containers is very desirable?

Thanks,
Brent

From: Carlos Mendible <notifications@github.com>
Sent: Wednesday, March 20, 2019 10:54 AM
To: MicrosoftDocs/windows-insider <windows-insider@noreply.github.com>
Cc: Brent Forman <brent

[2019-03-20 22:33] lizap commented on #102
Thanks for the feedback. We'll take it under advisement and add a release preview column when and if it makes sense. Thanks!

[2019-03-20 22:33] #102 closed

[2019-03-21 15:38] mypil commented on #93
@BR77BE - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-21 15:41] mypil commented on #96
@lizap - I would like to follow up on this. Do you have any updates.

[2019-03-21 15:41] mypil commented on #95
@hNczy - I would like to follow up on this. Do you have any updates?

[2019-03-21 15:48] #99 closed

[2019-03-22 16:24] mypil commented on #111
@officedocsbot close

[2019-03-22 16:24] #111 closed

[2019-03-22 16:24] mypil commented on #112
@officedocsbot close

[2019-03-22 16:25] hNczy commented on #95
Yes. I checked again the article. I do not find this portion. I also think it was removed. Thank you!

[2019-03-22 16:25] mypil commented on #113
@officedocsbot close

[2019-03-22 16:25] #113 closed

[2019-03-22 16:48] mypil commented on #95
@officedocsbot close

[2019-03-22 16:48] #95 closed

[2019-03-22 16:50] mypil commented on #109
@lizap - I would like to follow up on this. Any updates?

[2019-03-22 16:50] mypil commented on #96
@lizap - I would like to follow up on this. Any updates?

[2019-03-22 21:12] nagaozen commented on #56
@Brentfor it's very desirable.

[2019-03-23 09:21] robertwray commented on #112
I've raised a documentation issue because the date format displayed in the page is incorrect when viewed by pretty much anybody outside the United States and you've elected to direct me to documentation for submitting feedback as a member of an organisation? That doesn't even remotely track.

Thanks for wasting my time

[2019-03-25 09:39] nenonix commented on #100
@hoyty76 Thanks for taking the time to submit helpful feedback. The article has been updated.

[2019-03-25 10:42] mypil commented on #100
@hoyty76 - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-25 10:42] mypil commented on #100
@officedocsbot close

[2019-03-25 10:42] #100 closed

[2019-03-25 10:45] mypil commented on #96
@lbmonsalve - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-25 10:48] mypil commented on #109
@NazmusLabs - From our understanding, the issue has been resolved. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-03-25 10:48] mypil commented on #109
@officedocsbot close

[2019-03-25 10:48] #109 closed

[2019-03-25 10:48] mypil commented on #96
@officedocsbot close

[2019-03-25 10:48] #96 closed

[2019-03-26 00:37] mypil commented on #112
@AndreaBarr - please assist to re-open this issue. thank you.

[2019-03-26 00:41] mypil commented on #112
@robertwray - I've requested to re-open this issue so we can have this investigated. Thank you.

[2019-03-27 00:14] mypil commented on #112
@lizap - need your insights on this issue since it is reported that the date format displayed in the page is incorrect when viewed by those outside the United States. Please advise on how to proceed to resolve this issue. Thank you.

[2019-03-27 00:18] mypil commented on #93
@officedocsbot close

[2019-03-27 00:18] #93 closed

[2019-03-28 14:57] mypil commented on #112
@lizap - I would like to follow up on this. Do you have any updates? Thanks

[2019-04-01 09:43] mypil commented on #112
@lizap - need your insights on this issue since it is reported that the date format displayed in the page is incorrect when viewed by those outside the United States. Please advise on how to proceed to resolve this issue. Thank you.

[2019-04-02 17:17] nagaozen commented on #56
Any news on this issue?!

[2019-04-03 17:59] iadgovuser1 opened #119 "The table below the "Next feature update for Windows 10 (19H1)" heading isn't rendering correctly"
The table below the "Next feature update for Windows 10 (19H1)" heading isn't rendering correctly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-insider/fl

[2019-04-03 19:38] IdmFoundInHim commented on #119
![Screenshot_20190403-153336](https://user-images.githubusercontent.com/30935172/55507683-2a4dd280-5626-11e9-9dbd-aa1b552f8bba.jpg)
It looks like a merge conflict.

[2019-04-03 19:39] unjumpednewbhacker opened #120 "Locked out"
Did a reset and been locked out ever since... I don't recall creating an unlock code. PLEASE HELP ME!!!

[2019-04-03 20:46] iadgovuser1 commented on #119
My guess is these changes need to be made at a minimum.

L53 change
`|18361|[3/19/2019](https://blogs.windows.com/windowsexperience/2019/03/19/announcing-windows-10-insider-preview-build-18361/#mHcv6FGsAlkBB8Wl.97)`
to
`|18361|[3/19/2019](https://blogs.windows.com/windowsexperience/2019/03/19/announcing-windows-10-insider-preview-build-18361/#mHcv6FGsAlkBB8Wl.97)||||||`

L54 change
`|18358|[3/15/2

[2019-04-04 09:13] mypil commented on #119
@officedocsbot assign @mypil

[2019-04-04 09:14] mypil commented on #120
@officedocsbot assign @mypil

[2019-04-04 09:15] mypil commented on #120
@unjumpednewbhacker - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows Insider Program:  **https://techcommunity.microsoft.com/t5/Windows-Insider-Program/bd-p/WindowsInsiderProg

[2019-04-04 09:16] mypil commented on #119
@iadgovuser1 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-04 09:17] mypil commented on #112
@lizap - I would like to follow up on this. Do you have any updates? Thanks

[2019-04-04 18:23] unjumpednewbhacker commented on #120
Well Myp.. This issue has surpassed asap resolve stages and circled back as would an animal chasing its tail. No ticket served as a means of any forward progress what so ever. This is the outcome I suppose, I entertained some wacky fix sugestions from a few known bulltube scammers but mostly I operate by a trial and error system working forward and backward. I have learned a lot however the proces

[2019-04-05 15:40] mypil commented on #120
@unjumpednewbhacker - Sorry to hear that you are having issues. Please understand that this site is a product documentation site and not a support nor a feature request site.

As such, the feedback section here is intended for feedback that improves the content in the Microsoft documentation and not intended for user feedback on product features nor troubleshooting.

For user feedback on product f

[2019-04-08 01:40] IJMacD commented on #112
@mypil The issue isn't that dates are magically changing on the documentation page depending on where in the world they're viewed.

The issue is that 4/8/2019 is ambiguous and anyone outside the United States might read and understand it differently to those inside the US.

This GitHub issue asks that those writing documentation use the ISO Standard format of 2019-04-08 to reduce ambiguity interna

[2019-04-08 07:27] mypil commented on #112
@IJMacD - Thanks for the additional feedback. I have coordinated with the doc owner @lizap to get her insights in getting the issue addressed.

@lizap - I would like to follow up and get your insights on this issue. Thanks.

[2019-04-08 11:19] mypil commented on #120
@officedocsbot close

[2019-04-08 11:19] #120 closed

[2019-04-11 12:42] mypil commented on #112
@lizap - I would like to follow up on this. Do you have any updates? Thanks

[2019-04-15 03:13] hyoshioka0128 opened #123 "[LOC] "高度な設定 _gt メディアの自動再生" needs to be replaced with "高度な設定 > メディアの自動再生""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 03:16] hyoshioka0128 opened #124 "[LOC] "__設定 gt システム gt クリップボード] " needs to be replaced with "設定 > システム > クリップボード""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 03:41] hyoshioka0128 opened #125 "[LOC] "設定 _gt _gt 色の [パーソナル設定]" needs to be replaced with "設定 > 個人用設定 > 色""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 03:42] hyoshioka0128 opened #126 "[LOC] " 設定 _gt デバイス _gt の入力" needs to be replaced with "設定 > デバイス > 入力""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 03:46] hyoshioka0128 opened #127 "[LOC] "設定 _gt アプリ _gt アプリ & 機能 _gt オプション機能の管理" needs to be replaced with "設定 > アプリ > アプリと機能 > オプション機能の管理""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 03:51] hyoshioka0128 opened #128 "[LOC] "設定 _gt Mixed reality _gt オーディオ" needs to be replaced with "設定 > Mixed reality > オーディオ""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 03:57] hyoshioka0128 opened #129 "[LOC] "__設定 _gt システム _gt フォーカスを支援__" needs to be replaced with "設定 > システム > 集中モード""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 04:06] hyoshioka0128 opened #130 "[LOC] "__ローカル グループ ポリシー エディター _gt 管理用テンプレート _gt Windows コンポーネント _gt Windows Defender Application Guard__" needs to be replaced with "ローカル グループ ポリシー エディター > 管理用テンプレート > Windows コンポーネント > Windows Defender Application Guard""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-15 04:09] hyoshioka0128 opened #131 "[LOC] Showing "![新しい設定] ページ](images/18272-app2.png "The Settings page in Snip & Sketch")""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-apps-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: be459bcb-4f00-035e-758b-f96e6196e7f3
* Version Independent ID: ac56f8ae-3436-3737-0fff-7030ad2bb0e5
* Content: [Windows 10 Insider Preview ビルド (19 H 1) の新規および更新されたアプリ](https://docs.microsoft.com/ja-jp/windows-insider/at-home/wha

[2019-04-15 04:09] hyoshioka0128 opened #132 "[LOC] Showing "アプリ _gt 付箋****カテゴリ""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-apps-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: be459bcb-4f00-035e-758b-f96e6196e7f3
* Version Independent ID: ac56f8ae-3436-3737-0fff-7030ad2bb0e5
* Content: [Windows 10 Insider Preview ビルド (19 H 1) の新規および更新されたアプリ](https://docs.microsoft.com/ja-jp/windows-insider/at-home/wha

[2019-04-15 08:37] mypil commented on #123
@officedocsbot assign @mypil

[2019-04-15 08:40] mypil commented on #124
@officedocsbot assign @mypil

[2019-04-15 08:40] mypil commented on #125
@officedocsbot assign @mypil

[2019-04-15 08:40] mypil commented on #126
@officedocsbot assign @mypil

[2019-04-15 08:40] mypil commented on #127
@officedocsbot assign @mypil

[2019-04-15 08:40] mypil commented on #128
@officedocsbot assign @mypil

[2019-04-15 08:41] mypil commented on #129
@officedocsbot assign @mypil

[2019-04-15 08:41] mypil commented on #130
@officedocsbot assign @mypil

[2019-04-15 08:41] mypil commented on #131
@officedocsbot assign @mypil

[2019-04-15 08:41] mypil commented on #132
@officedocsbot assign @mypil

[2019-04-15 08:42] mypil commented on #123
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:42] mypil commented on #124
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:42] mypil commented on #125
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:42] mypil commented on #126
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:42] mypil commented on #127
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:43] mypil commented on #128
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:43] mypil commented on #129
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:43] mypil commented on #130
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:43] mypil commented on #131
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 08:43] mypil commented on #132
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-15 12:30] mypil commented on #132
@officedocsbot add label localization

[2019-04-15 12:30] mypil commented on #131
@officedocsbot add label localization

[2019-04-15 12:30] mypil commented on #130
@officedocsbot add label localization

[2019-04-15 12:31] mypil commented on #129
@officedocsbot add label localization

[2019-04-15 12:31] mypil commented on #128
@officedocsbot add label localization

[2019-04-15 12:31] mypil commented on #127
@officedocsbot add label localization

[2019-04-15 12:31] mypil commented on #126
@officedocsbot add label localization

[2019-04-15 12:31] mypil commented on #125
@officedocsbot add label localization

[2019-04-15 12:32] mypil commented on #124
@officedocsbot add label localization

[2019-04-15 12:32] mypil commented on #123
@officedocsbot add label localization

[2019-04-15 15:50] mypil commented on #123
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:50] mypil commented on #124
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:51] mypil commented on #125
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:51] mypil commented on #126
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:51] mypil commented on #127
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:51] mypil commented on #128
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:51] mypil commented on #129
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:51] mypil commented on #130
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:51] mypil commented on #131
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-15 15:52] mypil commented on #132
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-16 03:54] hyoshioka0128 opened #133 "[LOC] "__Settings>Updates & セキュリティ__" needs to be replaced with "設定 > 更新とセキュリティ""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/rings

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e28bc5ad-1ad7-fd61-1194-54d41a6e0035
* Version Independent ID: 66f14d63-749c-7ea9-80d5-eae5dfb1df8e
* Content: [リングについて](https://docs.microsoft.com/ja-jp/windows-insider/at-home/rings)
* Content Source: [wip/at-home/rings.md](https://github.c

[2019-04-16 03:57] hyoshioka0128 opened #134 "[LOC] "__設定 _gt 更新 & セキュリティ _gt 回復__" needs to be replaced with "設定 > 更新とセキュリティ > 回復""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f86ee4af-4d0d-d880-3ca1-7282448fc43d
* Version Independent ID: 0a951de6-a0f3-c00f-41fe-482d1453240d
* Content: [トラブルシューティング](https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting)
* Content Source: [wip/at-home/tr

[2019-04-16 03:58] hyoshioka0128 opened #135 "[LOC] "__設定 _gt 更新 & セキュリティ _gt ライセンス認証__" needs to be replaced with "設定 > 更新とセキュリティ > ライセンス認証""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f86ee4af-4d0d-d880-3ca1-7282448fc43d
* Version Independent ID: 0a951de6-a0f3-c00f-41fe-482d1453240d
* Content: [トラブルシューティング](https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting)
* Content Source: [wip/at-home/tr

[2019-04-16 04:03] hyoshioka0128 opened #136 "[LOC] "___Gt 更新 & セキュリティの設定__" needs to be replaced with "設定 > 更新とセキュリティ""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f86ee4af-4d0d-d880-3ca1-7282448fc43d
* Version Independent ID: 0a951de6-a0f3-c00f-41fe-482d1453240d
* Content: [トラブルシューティング](https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting)
* Content Source: [wip/at-home/tr

[2019-04-16 04:04] hyoshioka0128 opened #137 "[LOC] "__設定 >Update & セキュリティ _gt Windows Insider Program__" needs to be replaced with "設定 > 更新とセキュリティ > Windows Insider Program""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: f86ee4af-4d0d-d880-3ca1-7282448fc43d
* Version Independent ID: 0a951de6-a0f3-c00f-41fe-482d1453240d
* Content: [トラブルシューティング](https://docs.microsoft.com/ja-jp/windows-insider/at-home/troubleshooting)
* Content Source: [wip/at-home/tr

[2019-04-16 04:07] hyoshioka0128 opened #138 "Broken link "https://www.microsoft.com/store/apps/9NCTDW2W1BH8""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-04-16 09:05] mypil commented on #133
@officedocsbot assign @mypil

[2019-04-16 09:06] mypil commented on #133
@officedocsbot add label localization

[2019-04-16 09:06] mypil commented on #134
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-16 09:07] mypil commented on #135
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-16 09:07] mypil commented on #136
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-16 09:07] mypil commented on #137
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-16 09:08] mypil commented on #138
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-16 09:37] mypil commented on #123
@officedocsbot assign @dongmicro

[2019-04-16 09:38] mypil commented on #124
@officedocsbot assign @dongmicro

[2019-04-16 09:38] mypil commented on #125
@officedocsbot assign @dongmicro

[2019-04-16 09:38] mypil commented on #126
@officedocsbot assign @dongmicro

[2019-04-16 09:38] mypil commented on #127
@officedocsbot assign @dongmicro

[2019-04-16 09:39] mypil commented on #128
@officedocsbot assign @dongmicro

[2019-04-16 09:39] mypil commented on #129
@officedocsbot assign @dongmicro

[2019-04-16 09:39] mypil commented on #130
@officedocsbot assign @dongmicro

[2019-04-16 09:39] mypil commented on #131
@officedocsbot assign @dongmicro

[2019-04-16 09:40] mypil commented on #132
@officedocsbot assign @dongmicro

[2019-04-16 09:40] mypil commented on #133
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-16 09:41] mypil commented on #133
@officedocsbot assign @dongmicro

[2019-04-16 09:41] mypil commented on #133
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-16 09:41] mypil commented on #134
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-16 09:41] mypil commented on #134
@officedocsbot assign @dongmicro

[2019-04-16 09:41] mypil commented on #134
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-16 09:42] mypil commented on #135
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-16 09:42] mypil commented on #135
@officedocsbot assign @dongmicro

[2019-04-16 09:42] mypil commented on #135
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-16 09:42] mypil commented on #136
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-16 09:42] mypil commented on #136
@officedocsbot assign @dongmicro

[2019-04-16 09:43] mypil commented on #136
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-16 09:43] mypil commented on #137
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-16 09:43] mypil commented on #137
@officedocsbot assign @dongmicro

[2019-04-16 09:43] mypil commented on #137
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-16 09:43] mypil commented on #138
@hyoshioka0128 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-04-16 09:44] mypil commented on #138
@officedocsbot assign @dongmicro

[2019-04-16 09:44] mypil commented on #138
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-16 19:47] lizap commented on #112
Hi, @IJMacD - thank you for the feedback. Right now we're following Microsoft style by using month/date/year format for the US content. The localized content should reflect the date standard for each locale. If it's not, please let me know. I'm sorry that this is causing confusion - given the purpose of the specific content (and the size of the table) I'm not able to switch to spelling out the dat

[2019-04-16 19:47] #112 closed

[2019-04-17 08:43] hyoshioka0128 opened #139 "Broken link "https://account.xbox.comXbox""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-04-17 09:18] robertwray commented on #112
Well, this sucks.

Changing from 07/01/2019 to 2019-01-07 takes the same amount of screen real estate and makes the format **unambiguous worldwide**. Not once in the original issue, or the comment by @IJMacD was it suggested that the long-form with the name of the month was moved to (which in and of itself would add further localisation complexity) so I'm not sure where that being the only option

[2019-04-17 10:46] mypil commented on #139
@officedocsbot assign @mypil @dongmicro
@officedocsbot add label localization

[2019-04-17 10:46] mypil commented on #139
@officedocsbot assign @dongmicro

[2019-04-17 10:47] mypil commented on #139
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-17 10:49] mypil commented on #119
@iadgovuser1 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-04-17 12:04] iadgovuser1 commented on #119
Looks fixed to me. Thanks!

[2019-04-17 12:04] #119 closed

[2019-04-18 03:15] hyoshioka0128 opened #140 "Broken link " [Aka.ms/StorageSpacesDirect] ""
https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-new-wip-at-work-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 350df361-e28b-9dc0-82fe-bccafe7aa2a8
* Version Independent ID: 5aa65b84-085d-51f0-abf9-c20435767b91
* Content: [新機能、Windows Server 2019 Insider Preview ビルド](https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-n

[2019-04-18 09:37] hyoshioka0128 opened #141 ""正味の使用" needs to be replaced with "ネット利用""
English: "Use net use, or some other method, to connect to the location of the FoD ISO."
Japanese: "FoD ISOの場所に接続するには、ネット利用などの方法を使用します。"

https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-new-wip-at-work-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 350df361-e28b-9dc0-82fe-bccafe7aa2a8
* Version Independent ID: 5aa65b84-085d-51f0-a

[2019-04-18 09:38] hyoshioka0128 opened #142 ""__powershell.exe__" needs to be replaced with "powershell.exe""
https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-new-wip-at-work-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 350df361-e28b-9dc0-82fe-bccafe7aa2a8
* Version Independent ID: 5aa65b84-085d-51f0-abf9-c20435767b91
* Content: [新機能、Windows Server 2019 Insider Preview ビルド](https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-n

[2019-04-18 09:41] hyoshioka0128 opened #143 ""設定 HgsKeyProtectionConfiguration" needs to be replaced with "Set-HgsKeyProtectionConfiguration""
https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-new-wip-at-work-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 350df361-e28b-9dc0-82fe-bccafe7aa2a8
* Version Independent ID: 5aa65b84-085d-51f0-abf9-c20435767b91
* Content: [新機能、Windows Server 2019 Insider Preview ビルド](https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-n

[2019-04-18 09:42] hyoshioka0128 opened #144 "Broken link "https://aka.ms/windowscontainer ""
https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-new-wip-at-work-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 350df361-e28b-9dc0-82fe-bccafe7aa2a8
* Version Independent ID: 5aa65b84-085d-51f0-abf9-c20435767b91
* Content: [新機能、Windows Server 2019 Insider Preview ビルド](https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-n

[2019-04-18 13:12] mypil commented on #140
@officedocsbot assign @mypil

[2019-04-18 13:13] mypil commented on #141
@officedocsbot assign @mypil

[2019-04-18 13:13] mypil commented on #142
@officedocsbot assign @mypil

[2019-04-18 13:13] mypil commented on #143
@officedocsbot assign @mypil

[2019-04-18 13:13] mypil commented on #144
@officedocsbot assign @mypil

[2019-04-19 03:39] hyoshioka0128 opened #145 "[LOC]"_gt 設定 gt 更新 & セキュリティ gt Windows Insider Program の開始" needs to be replaced with "設定 > 更新とセキュリティ > Windows Insider Program""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ecfeb071-5a62-8103-e97b-498966b9beb3
* Version Independent ID: 88b688a6-d675-d52a-44f5-6a5ff51f5fb6
* Content: [Windows 10 Insider Preview ビルドの概要](https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started)
* Content Source: [

[2019-04-19 03:42] hyoshioka0128 opened #146 "[LOC]"___gt 設定 gt 更新 & セキュリティ gt Windows Update" needs to be replaced with "設定 > 更新とセキュリティ > Windows Update""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ecfeb071-5a62-8103-e97b-498966b9beb3
* Version Independent ID: 88b688a6-d675-d52a-44f5-6a5ff51f5fb6
* Content: [Windows 10 Insider Preview ビルドの概要](https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started)
* Content Source: [

[2019-04-19 03:46] hyoshioka0128 opened #147 "[LOC]"[Get started] (開始する) " needs to be replaced with "「開始する」""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ecfeb071-5a62-8103-e97b-498966b9beb3
* Version Independent ID: 88b688a6-d675-d52a-44f5-6a5ff51f5fb6
* Content: [Windows 10 Insider Preview ビルドの概要](https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started)
* Content Source: [

[2019-04-19 03:49] hyoshioka0128 opened #148 "[LOC]"なフィードバックを提供する方法" needs to be replaced with "建設的なフィードバックの提供方法""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ecfeb071-5a62-8103-e97b-498966b9beb3
* Version Independent ID: 88b688a6-d675-d52a-44f5-6a5ff51f5fb6
* Content: [Windows 10 Insider Preview ビルドの概要](https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started)
* Content Source: [

[2019-04-19 03:51] hyoshioka0128 opened #149 ""なフィードバックを提供する方法" link (en-us) → (ja-jp)"
en-us:https://insider.windows.com/en-us/how-to-feedback/
ja-jp:https://insider.windows.com/ja-jp/how-to-feedback/

https://docs.microsoft.com/ja-jp/windows-insider/at-home/get-started

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: ecfeb071-5a62-8103-e97b-498966b9beb3
* Version Independent ID: 88b688a6-d675-d52a-44f5-6a5ff51f5fb6
* Content: [Windows 1

[2019-04-19 10:07] mypil commented on #145
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-19 10:07] mypil commented on #146
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-19 10:07] mypil commented on #147
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-19 10:07] mypil commented on #148
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-19 10:07] mypil commented on #149
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-19 10:08] mypil commented on #140
@officedocsbot add label localization

[2019-04-19 10:08] mypil commented on #141
@officedocsbot add label localization

[2019-04-19 10:08] mypil commented on #142
@officedocsbot add label localization

[2019-04-19 10:09] mypil commented on #143
@officedocsbot add label localization

[2019-04-19 10:09] mypil commented on #144
@officedocsbot add label localization

[2019-04-22 14:27] mypil commented on #140
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #141
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #142
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #143
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #144
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #146
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #147
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #148
@officedocsbot assign @dongmicro

[2019-04-22 14:27] mypil commented on #149
@officedocsbot assign @dongmicro

[2019-04-22 14:28] mypil commented on #140
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #141
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #142
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #143
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #144
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #146
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #147
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #148
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-22 14:28] mypil commented on #149
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-23 16:25] mypil commented on #123
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:25] mypil commented on #124
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:25] mypil commented on #125
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:25] mypil commented on #126
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:25] mypil commented on #127
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:26] mypil commented on #128
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:26] mypil commented on #129
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:27] mypil commented on #133
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:27] mypil commented on #131
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:27] mypil commented on #130
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:27] mypil commented on #134
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:27] mypil commented on #135
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #136
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #137
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #138
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #139
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #140
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #141
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #142
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:28] mypil commented on #143
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:35] mypil commented on #144
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:36] mypil commented on #145
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:36] mypil commented on #146
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:36] mypil commented on #147
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:36] mypil commented on #148
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-23 16:36] mypil commented on #149
@dongmicro - I would like to follow up on this. Do you have any updates?

Thank you.

[2019-04-25 16:10] hyoshioka0128 opened #150 "[LOC] Showing "![テキストの拡大](images/zooming2 .png "text zooming")""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

[2019-04-25 16:27] hyoshioka0128 opened #151 "Showing "![text zooming](images/zooming2 .png "text zooming")""
https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [What's new in the Windows 10 Insider Preview Builds (RS5)](https://docs.micro

[2019-04-25 16:46] mypil commented on #150
@officedocsbot assign @mypil

[2019-04-25 16:46] mypil commented on #151
@officedocsbot assign @mypil

[2019-04-25 16:51] mypil commented on #151
@officedocsbot add label localization
@officedocsbot assign @dongmicro

[2019-04-25 16:51] mypil commented on #150
@officedocsbot add label localization
@officedocsbot assign @dongmicro

[2019-04-25 16:52] mypil commented on #150
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-25 16:52] mypil commented on #151
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 03:50] hyoshioka0128 opened #152 "Showing '![スタート メニューに名前を付ける] フォルダー](images/namedfolder_optionalgif.png "folder naming in Start")'"
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-26 03:57] hyoshioka0128 commented on #151
#151 (en-us)
![zooming2_en-us](https://user-images.githubusercontent.com/40815708/56782581-b8cb0380-6822-11e9-89be-c0c64da753fa.png)

related issue: #150 (ja-jp)
![zooming2_ja-jp](https://user-images.githubusercontent.com/40815708/56782588-bf597b00-6822-11e9-8795-f65c541c9ea0.png)

[2019-04-26 09:20] mypil commented on #152
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 09:21] mypil commented on #152
@officedocsbot assign @dongmicro

[2019-04-26 09:21] mypil commented on #152
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 09:32] hyoshioka0128 opened #153 "[LOC]Showing "![ヘルプ] メニューからのフィードバックを送信します。](images/18298-7.png "Send feedback from the Help menu")""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-04-26 09:33] hyoshioka0128 opened #154 "[LOC]Showing "![既定のタスク マネージャー] タブ](images/18305-10.png "Set a default Task Manager tab")""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-04-26 09:33] hyoshioka0128 opened #155 "[LOC]Showing "![言語の設定] ページ](images/18277-image8.png "Shows the updated Language settings page")""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-04-26 09:42] hyoshioka0128 opened #156 "[LOC] "右クリック メニュー経由での Bing 検索" needs to be replaced with "右クリック メニューから Bingで検索""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-26 09:45] hyoshioka0128 opened #157 "[LOC] "[編集] メニューの _gt . Bing 検索" needs to be replaced with "編集メニュー -> Bingで検索""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-04-26 09:48] hyoshioka0128 opened #158 "[LOC] "Settings> 更新 & Security> Windows Insider Program" needs to be replaced with "設定 > 更新とセキュリティ > Windows Insider Program""
https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-register

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e4b123d9-739d-729e-378c-b2eeb88ad8f0
* Version Independent ID: cfe614e9-a2f7-aa3e-e075-afecad232df6
* Content: [Windows 10 Insider Program for Business の登録](https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-b

[2019-04-26 09:49] hyoshioka0128 opened #159 "[LOC] "__設定 _gt 更新 & セキュリティ _gt Windows Insider Program__" needs to be replaced with "設定 > 更新とセキュリティ > Windows Insider Program""
https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-register

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: e4b123d9-739d-729e-378c-b2eeb88ad8f0
* Version Independent ID: cfe614e9-a2f7-aa3e-e075-afecad232df6
* Content: [Windows 10 Insider Program for Business の登録](https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-b

[2019-04-26 09:50] hyoshioka0128 opened #160 "[LOC] "___gt 設定 _gt 更新 & セキュリティ _gt Windows Update を開始__" needs to be replaced with "設定 > 更新とセキュリティ > Windows Insider Program""
https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-install

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 2b002f70-ea79-fc71-0b04-3d8366cbd89c
* Version Independent ID: 6f00b61f-5249-10ca-6e8f-3b250cd13a9c
* Content: [Windows 10 のプレビュー ビルドのインストールします。](https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-install)

[2019-04-26 16:03] mypil commented on #153
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:03] mypil commented on #154
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:03] mypil commented on #155
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:04] mypil commented on #156
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:04] mypil commented on #157
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:04] mypil commented on #158
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:04] mypil commented on #160
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:04] mypil commented on #159
@officedocsbot assign @mypil
@officedocsbot add label localization

[2019-04-26 16:06] mypil commented on #153
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #154
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #155
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #156
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #157
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #158
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #160
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #159
@officedocsbot assign @dongmicro

[2019-04-26 16:07] mypil commented on #153
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 16:07] mypil commented on #154
@dongmicro - Can you please assist with this Translation (Localization) issue?**

[2019-04-26 16:07] mypil commented on #155
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 16:07] mypil commented on #156
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 16:07] mypil commented on #157
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 16:07] mypil commented on #158
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 16:07] mypil commented on #160
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-26 16:08] mypil commented on #159
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-30 13:21] hyoshioka0128 opened #161 "[LOC] "アプリ & 機能" needs to be replaced with "アプリと機能""
https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-whats-new

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 889fc0db-6485-8268-c65e-ad4f8e69217b
* Version Independent ID: 1f76fa09-c24a-0226-034d-2a4ba4f75782
* Content: [Windows Server 10 Insider Program for Business のプレビュー ビルドの新機能](https://docs.microsoft.com/ja-jp/windows-insider/

[2019-04-30 13:22] hyoshioka0128 opened #162 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows/security/threat-protection/intelligence/unwanted-software

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 889fc0db-6485-8268-c65e-ad4f8e69217b
* Version Independent ID: 1f76fa09-c24a-0226-034d-2a4ba4f75782
* Content: [Windows Server 10 Insider Program for Business のプレビュー ビルドの新機能](https://docs.microsoft.com/ja-j

[2019-04-30 13:24] hyoshioka0128 opened #163 "[LOC] "_gt" needs to be replaced with ">""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-04-30 15:36] mypil commented on #161
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-04-30 15:36] mypil commented on #162
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-04-30 15:36] mypil commented on #163
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-04-30 15:36] mypil commented on #161
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-30 15:36] mypil commented on #162
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-04-30 15:36] mypil commented on #163
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-05-01 22:06] BR77BE opened #164 "Next feature update for Windows 10 (19H1)"
"You can get builds of 19H1 today if your device is in the Fast ring."

Not true. Do you mean Slow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-insider/

[2019-05-02 03:29] hyoshioka0128 opened #165 "[LOC] "Windows こんにちは for Business" needs to be replaced with "Windows Hello for Business""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-05-02 10:51] mypil commented on #164
@officedocsbot assign @mypil

[2019-05-02 10:52] mypil commented on #164
@BR77BE - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-02 10:54] mypil commented on #165
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-02 10:55] mypil commented on #165
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-05-02 23:42] joinimran commented on #164
Hello @BR77BE , Thank you for your feedback. You wanted to say that if the device is in Slow Ring then you will be able to get 19H1 build?

[2019-05-03 00:01] BR77BE commented on #164
Yes, I wanted you to correct the page so that it says that, because it's currently wrong where it says, "You can get builds of 19H1 today if your device is in the **Fast** ring."; you can't, as it conflicts with, "You can get builds of **20H1** today if you've opted in to Fast builds."

[2019-05-03 00:08] joinimran commented on #164
@BR77BE Thank you for your feedback here. I have forwarded the correction to the concerned team and it will be applied and available to the public soon.

Thanks.

[2019-05-03 11:06] hyoshioka0128 opened #167 "[LOC] "同期電話アプリ" needs to be replaced with "スマホ同期アプリ""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-05-03 12:02] mypil commented on #167
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-03 12:02] mypil commented on #167
@dongmicro - Can you please assist with this Translation (Localization) issue?

[2019-05-08 03:48] hyoshioka0128 opened #168 "[LOC] "同期電話アプリ" needs to be replaced with "スマホ同期アプリ""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-apps-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: be459bcb-4f00-035e-758b-f96e6196e7f3
* Version Independent ID: ac56f8ae-3436-3737-0fff-7030ad2bb0e5
* Content: [Windows 10 Insider Preview ビルド (19 H 1) の新規および更新されたアプリ](https://docs.microsoft.com/ja-jp/windows-insider/at-home/wha

[2019-05-08 10:36] mypil commented on #168
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-09 16:01] mypil commented on #164
@BR77BE - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-10 09:43] mypil commented on #164
@officedocsbot close

[2019-05-10 09:43] #164 closed

[2019-05-12 23:16] Lorribot opened #169 "US Date formate"
5% of teh world uses US dates formate, 85% does not.

Please use month in words for teh month to avoid any confusion and annoying 95% of the population of the planet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Cont

[2019-05-13 10:50] mypil commented on #169
@officedocsbot assign @mypil

[2019-05-13 13:52] mypil commented on #169
@Lorribot - Thank you for engaging with the community here for the docs.

There was a similar feedback submitted previously for the same issue and you can find the response of the doc owner @lizap on this [link](https://github.com/MicrosoftDocs/windows-insider/issues/112#issuecomment-484006030).

Alternatively, I know the product teams are always looking for user feedback on how to make the Window

[2019-05-14 08:27] mypil commented on #169
@officedocsbot close

[2019-05-14 08:27] #169 closed

[2019-05-14 09:08] hyoshioka0128 opened #170 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: dc12e690-19c5-ba46-530f-56b2e4f2bb33
* Version Independent ID: 237aec15-eb8f-78ed-086f-518b4ce554dd
* Content: [新機能、Windows 10 Insider Preview ビルド (RS5)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-

[2019-05-14 09:12] hyoshioka0128 opened #171 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-05-14 09:13] hyoshioka0128 opened #172 "[LOC] "ウイルス & Threat Protection" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-05-14 09:14] hyoshioka0128 opened #173 "[LOC] "ウイルス & 脅威の防止" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-whats-new

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 889fc0db-6485-8268-c65e-ad4f8e69217b
* Version Independent ID: 1f76fa09-c24a-0226-034d-2a4ba4f75782
* Content: [Windows Server 10 Insider Program for Business のプレビュー ビルドの新機能](https://docs.microsoft.com/ja-jp/windows-insider/

[2019-05-14 09:15] hyoshioka0128 opened #174 "[LOC] "ウイルス & Threat Protection" needs to be replaced with "ウイルスと脅威の防止""
https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-whats-new

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 889fc0db-6485-8268-c65e-ad4f8e69217b
* Version Independent ID: 1f76fa09-c24a-0226-034d-2a4ba4f75782
* Content: [Windows Server 10 Insider Program for Business のプレビュー ビルドの新機能](https://docs.microsoft.com/ja-jp/windows-insider/

[2019-05-14 14:17] mypil commented on #170
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-14 14:17] mypil commented on #171
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-14 14:17] mypil commented on #172
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-14 14:17] mypil commented on #173
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-14 14:17] mypil commented on #174
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-14 14:18] mypil commented on #170
@hyoshioka0128 - please see update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-490486066).

[2019-05-14 14:18] mypil commented on #171
@hyoshioka0128 - please see update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-490486066).

[2019-05-14 14:19] mypil commented on #172
@hyoshioka0128 - please see update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-490486066).

[2019-05-14 14:19] mypil commented on #173
@hyoshioka0128 - please see update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-490486066).

[2019-05-14 14:19] mypil commented on #174
@hyoshioka0128 - please see update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-490486066).

[2019-05-20 08:24] hyoshioka0128 opened #175 "[LOC]Back-Translation "__hkey_local_machine \"→"HKEY_LOCAL_MACHINE\～""
"__hkey_local_machine \software\policies\microsoft\windows\windowsupdate__"
 ↓
"HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate"

https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-manage

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 70755f6c-a8f2-ca3b-e9cc-1966c1fac459
* Version Independent ID: 53f2d3f5-eabe

[2019-05-20 08:24] hyoshioka0128 opened #176 "[LOC]fixed inappropriate japanese "Settings"→"設定""
"__Security>Windows 更新 Settings>Update &__"
 ↓
"設定 > 更新とセキュリティ > Windows Update"

https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-manage

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 70755f6c-a8f2-ca3b-e9cc-1966c1fac459
* Version Independent ID: 53f2d3f5-eabe-5f47-265b-a2077f6d842d
* Content: [Windows Insider Preview ビルドの管理](h

[2019-05-20 09:04] mypil commented on #175
@officedocsbot assign @mypil

[2019-05-20 09:06] mypil commented on #176
@officedocsbot assign @mypil

[2019-05-20 09:08] mypil commented on #176
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 09:08] mypil commented on #175
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-05-20 09:09] mypil commented on #175
@hyoshioka0128 - please see update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-490486066).

[2019-05-20 09:09] mypil commented on #176
@hyoshioka0128 - please see update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-490486066).

[2019-05-22 17:50] GusDS opened #178 "Android phone’s notifications"
I was receiving Android phone’s notifications on my PC last year with Android 6.0 without problems until it was apparently discontinued. Now it's announced on Windows Insider as a future feature only for Android 7.0+. Why?

[2019-05-23 10:40] mypil commented on #178
@officedocsbot assign @mypil

[2019-05-23 10:43] mypil commented on #178
@GusDS - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows Insider Program:  **https://techcommunity.microsoft.com/t5/Windows-Insider-Program/bd-p/WindowsInsiderProgram**

If you

[2019-05-23 21:18] emmett421 opened #181 ""new app update to Skip Ahead" needs to be replaced with "new app update to Snip & Sketch""
I assume that "Skip Ahead" was meant to be "Snip & Sketch". If not, it should be clarified what that means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be459bcb-4f00-035e-758b-f96e6196e7f3
* Version Independent ID: ac56f8ae-3436-3737-0fff-7030ad2bb0e5
* Content: [New and updated apps in the Windows 10 Insider Previe

[2019-05-24 10:03] mypil commented on #181
@officedocsbot assign @mypil

[2019-05-24 10:04] mypil commented on #181
@emmett421 - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-05-24 17:09] msbemba commented on #181
@emmett421  Thank you for your feedback. We have made the changes via PR https://github.com/MicrosoftDocs/windows-insider/pull/182

[2019-05-27 07:45] mypil commented on #178
@officedocsbot close

[2019-05-27 07:45] #178 closed

[2019-05-28 23:18] ontomorlight03 opened #183 "cant activate win 10 enterprise"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub](https://docs.microsoft.com/en-us/windows-insider/flight-hub/)
* Content Source: [wip/flight-hub/index.md](https://github.com/Mi

[2019-05-29 17:51] mypil commented on #181
@emmett421 - From our understanding, the issue has been resolved but it may take a few days for the merged content to appear in the article. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-05-29 17:54] mypil commented on #183
@ontomorlight03 - Thank you for submitting feedback.

I think the best way forward is if you can open a service ticket so this can get resolved ASAP. Based on outcome let me know if it is something that can be called out in the docs.

Please follow this link to contact support for Windows Insider Program: **https://techcommunity.microsoft.com/t5/Windows-Insider-Program/bd-p/WindowsInsiderProgram**

[2019-05-29 19:02] mypil commented on #183
@officedocsbot assign @mypil

[2019-05-31 18:29] mypil commented on #145
@officedocsbot assign @dongmicro

[2019-05-31 20:24] dongmicro commented on #145
This is MT bug, and I have confirmed the MT had this fixed and next step is contact the operation owner to re-run MT against the content to get the issue fixed. ETA is by the end of next week.

[2019-06-02 01:40] mypil commented on #181
@officedocsbot close

[2019-06-02 01:40] #181 closed

[2019-06-02 01:40] mypil commented on #183
@officedocsbot close

[2019-06-02 01:40] #183 closed

[2019-06-02 01:51] mypil commented on #123
@dongmicro - We would like to follow up. Kindly assist to provide updates on the status of all these Translation (Localization) issues in the Windows Insider repo. Thank you.

[2019-06-02 01:55] mypil commented on #123
Referencing https://github.com/MicrosoftDocs/windows-insider/issues/145#issuecomment-497848599  for the status update of all these Translation (Localization) issues.

[2019-06-03 17:58] dongmicro commented on #123
MT will be re-Run against the pages and hope most the problem will be fixed after the MT bug got fixed. After the MT re-Run against the pages if the problem is still there we will see what needs to be done.

[2019-06-06 03:10] hyoshioka0128 opened #185 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-n

[2019-06-06 09:42] mypil commented on #185
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-06-06 09:45] mypil commented on #185
@hyoshioka0128 - Thank you for submitting feedback. Please see the latest status update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-498361640).

[2019-06-07 03:51] hyoshioka0128 opened #186 "[LOC] "Windows こんにちは" needs to be replaced with "Windows Hello""
related issue: #123

https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-whats-new

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 889fc0db-6485-8268-c65e-ad4f8e69217b
* Version Independent ID: 1f76fa09-c24a-0226-034d-2a4ba4f75782
* Content: [Windows Server 10 Insider Program for Business のプレビュー ビルドの新機能](https://docs.microsoft.com/j

[2019-06-07 08:26] mypil commented on #186
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-06-07 08:27] mypil commented on #186
@hyoshioka0128 - Thank you for submitting feedback. Please see the latest status update [here](https://github.com/MicrosoftDocs/windows-insider/issues/123#issuecomment-498361640).

[2019-06-13 09:57] hyoshioka0128 opened #188 "[LOC] "更新 & セキュリティ" needs to be replaced with "更新とセキュリティ""
related issue: #123

https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-19h1

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: b4599727-0163-9857-ce15-a2c82be9e936
* Version Independent ID: 22838d16-6ebf-280f-ed96-61a061d4b4a3
* Content: [新機能、Windows 10 Insider Preview ビルド (19 H 1)](https://docs.microsoft.com/ja-jp/windows-in

[2019-06-13 09:58] hyoshioka0128 opened #189 "[LOC] "更新 & セキュリティ" needs to be replaced with "更新とセキュリティ""
related issue: #123

https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-whats-new

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 889fc0db-6485-8268-c65e-ad4f8e69217b
* Version Independent ID: 1f76fa09-c24a-0226-034d-2a4ba4f75782
* Content: [Windows Server 10 Insider Program for Business のプレビュー ビルドの新機能](https://docs.microsoft.com/j

[2019-06-14 14:54] mypil commented on #188
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-06-14 14:54] mypil commented on #189
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-06-14 14:55] mypil commented on #188
@dongmicro - Kindly assist with this additional translation/localization issue. Thank you.

[2019-06-14 14:55] mypil commented on #189
@dongmicro - Kindly assist with this additional translation/localization issue. Thank you.

[2019-06-14 14:57] mypil commented on #123
@dongmicro - Do you have any updates on the status of these Translation (Localization) issues?

[2019-06-17 03:52] hyoshioka0128 opened #190 "[LOC] "_gt" needs to be replaced with ">""
related issue: #123

https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-manage

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: 70755f6c-a8f2-ca3b-e9cc-1966c1fac459
* Version Independent ID: 53f2d3f5-eabe-5f47-265b-a2077f6d842d
* Content: [Windows Insider Preview ビルドの管理](https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/w

[2019-06-17 08:04] mypil commented on #190
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-06-17 08:04] mypil commented on #190
@dongmicro - Kindly assist with this additional translation/localization issue which is related to issue #123. Thank you.

[2019-06-24 17:23] mypil commented on #123
@dongmicro - Any updates on this? Which ones has been fixed already? Please assist to give us updates so we can close these issues. Thank you.

[2019-06-24 18:45] BR77BE opened #199 "Friendly dates in File Explorer"
Was canceled for 19H1, but that is not reflected on this page.

"Thank you for all of the feedback you provided on Friendly Dates in File Explorer. At this time, we’ve decided not to roll out Friendly Dates to users as part of the 19H1 release. Insiders will see this option go away starting today, regardless of build number." https://blogs.windows.com/windowsexperience/2019/05/01/announcing-window

[2019-06-25 07:40] mypil commented on #199
@officedocsbot assign @mypil

[2019-06-25 07:52] mypil commented on #199
@BR77BE - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-06-27 13:10] mypil commented on #199
@BR77BE - From our understanding, the issue has been resolved via PR #177. If you feel it hasn't been resolved, please re-open this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2019-07-01 13:37] mypil commented on #199
@officedocsbot close

[2019-07-01 13:37] #199 closed

[2019-07-03 00:30] 16dyui opened #207 "19H2 not listed"
19H2 was added to slow ring the other day, but it is not listed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [Flight Hub - Windows Insider Program](https://docs.microsoft.com/en-us/windows-insider/flight-hub

[2019-07-03 07:29] mypil commented on #207
@officedocsbot assign @mypil

[2019-07-03 12:17] mypil commented on #207
@16dyui - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-07-05 01:25] #207 closed

[2019-07-05 02:24] 16dyui opened #208 "日本語版での情報不足"
日本語翻訳ページが英語版に追従していません。

---
#### ドキュメントの詳細

⚠ *このセクションを編集しないでください。 docs.microsoft.com で必須です ➟ GitHub の問題のリンク。*

* ID: fa80910a-e655-34df-d26a-b094dd8702bb
* Version Independent ID: 83b90d10-f455-fee5-cf94-2698f1ac33d6
* Content: [フライト ハブ](https://docs.microsoft.com/ja-jp/windows-insider/flight-hub/#next-feature-update-for-windows-10-19h2)
* Content Source: [wip/flight-hub/index.md](https://github.

[2019-07-05 08:50] mypil commented on #208
@officedocsbot assign @mypil
@officedocsbot assign @dongmicro
@officedocsbot add label localization

[2019-07-05 08:51] mypil commented on #208
@dongmicro - Kindly assist with this new translation/localization issue.

 Thank you.

[2019-07-09 20:22] rbonomo opened #209 "Snip & Sketch Program"
Hey Guys,

Snip & Sketch is a cool replacement for Snipping Tool. However, your developers forgot to include the "window capture" mode that Snipping Tool has. Please put it in there.

Thanks

[2019-07-10 02:32] mypil commented on #209
@officedocsbot assign @mypil

[2019-07-10 02:44] mypil commented on #209
@rbonomo - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback on how to make the Windows Insider Program better. They keep a close tab on user feedback and it would be awesome if you could add your voice via [Feedback Hub] (https://insider.windows.com/en-us/how-to-feedback/)
You might find others have made a similar request t

[2019-07-10 09:21] ItzLevvie commented on #209
@rbonomo Isn't it already on there? https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-19h1#bringing-window-snip-to-your-modern-snipping-experience

[2019-07-10 19:47] rbonomo commented on #209
I've updated to Windows build 1903 and it is there. Thanks!

[2019-07-10 19:47] #209 closed

[2019-07-19 13:14] mypil commented on #123
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:14] mypil commented on #124
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #125
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #126
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #127
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #128
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #129
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #130
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #131
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #132
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:15] mypil commented on #133
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:16] mypil commented on #134
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #135
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #136
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #137
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #138
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #139
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #140
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #141
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #142
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #143
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #144
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:17] mypil commented on #145
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #146
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #147
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #148
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #149
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #150
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #151
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #152
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #153
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:18] mypil commented on #154
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:19] mypil commented on #155
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #156
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #157
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #158
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #159
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #160
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #161
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #162
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #163
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #165
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #167
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:20] mypil commented on #168
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #170
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #171
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #172
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #173
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #174
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #175
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #176
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #185
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #186
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #188
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #189
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #190
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:21] mypil commented on #208
@officedocsbot unassign @dongmicro
@officedocsbot assign @MollyMalone

[2019-07-19 13:46] mypil commented on #123
@hyoshioka0128 - Can you please validate and confirm if all the Translation (Localization) issues that you opened have been resolved?

The latest update we received is that the repos were just migrated so this may have already fixed the MT issues.  Thank you!

[2019-07-19 13:47] mypil commented on #208
@16dyui - Can you please validate and confirm if this Translation (Localization) issue that you opened has been resolved?

The latest update we received is that the repos were just migrated so this may have already fixed the MT issues.  Thank you!

[2019-07-19 15:50] hyoshioka0128 commented on #190
Fixed.
Close #190

[2019-07-19 15:50] #190 closed

[2019-07-19 15:56] hyoshioka0128 commented on #186
Fixed.
Close #186

[2019-07-19 15:56] #186 closed

[2019-07-19 15:58] hyoshioka0128 commented on #185
Fixed.
Close #185

[2019-07-19 15:58] #185 closed

[2019-07-19 16:08] hyoshioka0128 opened #211 "TOC for windows-insider ja-jp document is not translated."
![windows-insider_j](https://user-images.githubusercontent.com/40815708/61549365-c8a55d00-aa8a-11e9-8560-4281b07a5a5d.png)

https://docs.microsoft.com/ja-jp/windows-insider/at-home/

[2019-07-20 04:01] hyoshioka0128 opened #212 "[LOC] Broken link "https://aka.ms/windowscontainer""
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j](https://user-images.githubusercontent.com/40815708/61573736-64b48000-aaee-11e9-9ce2-a2464dff927b.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_e](https://user-images.githubusercontent.com/40815708/61

[2019-07-21 06:58] hyoshioka0128 commented on #188
Fixed.
Close #188

[2019-07-21 06:58] #188 closed

[2019-07-21 07:30] hyoshioka0128 commented on #189
Hello, @mypil
#189 is not Fixd.

ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-whats-new
![wip-4-biz-whats-new_j](https://user-images.githubusercontent.com/40815708/61588325-ae779600-abd4-11e9-9645-e2693f02e31c.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-work-pro/wip-4-biz-whats-new
![wip-4-biz-whats-new_e](https://user-images.githubusercontent.co

[2019-07-21 07:36] hyoshioka0128 commented on #176
Hi, @mypil .
#176 is not Fixed.
![wip-4-biz-manage_j](https://user-images.githubusercontent.com/40815708/61588394-b257e800-abd5-11e9-864b-7a74699be16a.png)

[2019-07-21 07:51] hyoshioka0128 commented on #175
Hi, @mypil .
#175 is not Fixed.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-work-pro/wip-4-biz-manage
![wip-4-biz-manage_j2](https://user-images.githubusercontent.com/40815708/61588496-ab31d980-abd7-11e9-8068-08d04ac75499.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-work-pro/wip-4-biz-manage
![Uploading wip-4-biz-manage_e2.png…]()

[2019-07-21 13:39] hyoshioka0128 commented on #174
Hi, @mypil .
#174 is not Fixed.
![wip-4-biz-whats-new_j2](https://user-images.githubusercontent.com/40815708/61592020-6bcfb100-ac08-11e9-8484-ac79d4805cab.png)

[2019-07-21 13:43] hyoshioka0128 commented on #173
Hi, @mypil .
#173 is not Fixed.
![wip-4-biz-whats-new_j3](https://user-images.githubusercontent.com/40815708/61592064-0203d700-ac09-11e9-93b3-cd129ee9fe1d.png)

[2019-07-21 13:46] hyoshioka0128 commented on #172
Hi, @mypil .
#172 is not Fixed.
![whats-new-wip-at-home-19h1_j](https://user-images.githubusercontent.com/40815708/61592092-57d87f00-ac09-11e9-987a-66b442cfc894.png)

[2019-07-21 13:47] hyoshioka0128 commented on #171
Hi, @mypil .
#171 is not Fixed.
![whats-new-wip-at-home-19h1_j](https://user-images.githubusercontent.com/40815708/61592103-7cccf200-ac09-11e9-9976-29f8df53356d.png)

[2019-07-21 13:49] hyoshioka0128 commented on #170
Hi, @mypil .
#170 is not Fixed.
![whats-new-wip-at-home-1809_j2](https://user-images.githubusercontent.com/40815708/61592115-c584ab00-ac09-11e9-8328-7df94e9f9e12.png)

[2019-07-21 14:06] hyoshioka0128 commented on #168
Hi, @mypil .
#168 is not Fixed.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-apps-19h1
![whats-new-apps_j](https://user-images.githubusercontent.com/40815708/61592264-0da4cd00-ac0c-11e9-9a14-beeadce27468.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-apps-19h1
![whats-new-apps_e1](https://user-images.githubusercontent.com/40815708/6159227

[2019-07-21 14:22] hyoshioka0128 commented on #167
Hi, @mypil .
#167 is not Fixed.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j3](https://user-images.githubusercontent.com/40815708/61592447-5067a480-ac0e-11e9-9c9c-4d2e19cb4145.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_e3](https://user-images

[2019-07-21 14:24] hyoshioka0128 commented on #165
Hi, @mypil .
Fixed.
Close #165

[2019-07-21 14:24] #165 closed

[2019-07-21 14:24] hyoshioka0128 commented on #163
Hi, @mypil .
Fixed.
Close #163

[2019-07-21 14:24] #163 closed

[2019-07-21 14:25] hyoshioka0128 commented on #162
Hi, @mypil .
Fixed.
Close #162

[2019-07-21 14:25] #162 closed

[2019-07-21 14:28] hyoshioka0128 commented on #161
Hi, @mypil .
#161 is not Fixed.
![wip-4-biz-whats-new_j4](https://user-images.githubusercontent.com/40815708/61592510-45f9da80-ac0f-11e9-8394-0e92da080d5c.png)

[2019-07-21 14:36] hyoshioka0128 commented on #160
Hi, @mypil .
#160 is not Fixed.
![wip-4-biz-install_j2](https://user-images.githubusercontent.com/40815708/61592605-64aca100-ac10-11e9-9053-c9d32579c83e.png)

add:
![wip-4-biz-install_j1](https://user-images.githubusercontent.com/40815708/61592606-68d8be80-ac10-11e9-8a87-b33a95fb25aa.png)

[2019-07-21 14:44] hyoshioka0128 commented on #159
Hi, @mypil .
#159 is not Fixed.
![wip-4-biz-register_j1](https://user-images.githubusercontent.com/40815708/61592678-85292b00-ac11-11e9-87b2-761a2fa32f9e.png)
![wip-4-biz-register_j2](https://user-images.githubusercontent.com/40815708/61592680-88bcb200-ac11-11e9-8559-e3bcc74492e5.png)

[2019-07-21 14:47] hyoshioka0128 commented on #158
Hi, @mypil .
#158 is not Fixed.
![wip-4-biz-register_j1](https://user-images.githubusercontent.com/40815708/61592709-e0f3b400-ac11-11e9-9f53-3becbf3c5a10.png)

[2019-07-21 14:49] hyoshioka0128 commented on #155
Hi, @mypil .
Fixed.
Close #155

[2019-07-21 14:49] #155 closed

[2019-07-21 14:51] hyoshioka0128 commented on #156
Hi, @mypil .
Fixed.
Close #156

[2019-07-21 14:51] #156 closed

[2019-07-21 14:52] hyoshioka0128 commented on #157
Hi, @mypil .
Fixed.
Close #157

[2019-07-21 14:52] #157 closed

[2019-07-21 14:52] hyoshioka0128 commented on #153
Hi, @mypil .
Fixed.
Close #153

[2019-07-21 14:52] #153 closed

[2019-07-21 14:55] hyoshioka0128 commented on #152
Hi, @mypil .
Fixed.
Close #152

[2019-07-21 14:55] #152 closed

[2019-07-21 14:56] hyoshioka0128 opened #213 "Showing '![テキストの拡大/縮小](images/zooming2 .png "text zooming")'"
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j4](https://user-images.githubusercontent.com/40815708/61592828-2b296500-ac13-11e9-9c95-8907b70ee9d8.png)

[2019-07-21 14:59] hyoshioka0128 commented on #150
Hi, @mypil .
#150 is not Fixed.
![whats-new-wip-at-home-1809_j4](https://user-images.githubusercontent.com/40815708/61592857-852a2a80-ac13-11e9-9301-c31b862af6a1.png)

[2019-07-21 15:02] hyoshioka0128 commented on #213
Duplicate: #150
Close #213

[2019-07-21 15:02] #213 closed

[2019-07-21 15:04] hyoshioka0128 commented on #149
Hi, @mypil .
#149 is not Fixed.

[2019-07-21 15:07] hyoshioka0128 commented on #147
Hi, @mypil .
#147 is not Fixed.
![get-started_j](https://user-images.githubusercontent.com/40815708/61592967-a4758780-ac14-11e9-8476-4dbfcbcaa37b.png)

[2019-07-21 15:09] hyoshioka0128 commented on #146
Hi, @mypil .
#146 is not Fixed.
![get-started_j2](https://user-images.githubusercontent.com/40815708/61592998-e9012300-ac14-11e9-8071-51d31207e934.png)

[2019-07-21 15:11] hyoshioka0128 commented on #144
Hi, @mypil .
#144 is not Fixed.
![whats-new-wip-at-work-1809_j1](https://user-images.githubusercontent.com/40815708/61593016-34b3cc80-ac15-11e9-897f-dd872d8b6d7f.png)

[2019-07-21 15:23] hyoshioka0128 commented on #145
Hi, @mypil .
#145 is not Fixed.
![get-started_j2](https://user-images.githubusercontent.com/40815708/61593150-d5ef5280-ac16-11e9-9d89-041d0bad2ee7.png)

[2019-07-22 03:18] hyoshioka0128 commented on #143
Hi, @mypil .
#143 is not Fixed.
![whats-new-wip-at-work-1809_j1](https://user-images.githubusercontent.com/40815708/61603991-ca357780-ac7a-11e9-9b9e-ecb4faac1e35.png)

[2019-07-22 03:19] hyoshioka0128 commented on #142
Hi, @mypil .
#142 is not Fixed.
![whats-new-wip-at-work-1809_j2](https://user-images.githubusercontent.com/40815708/61604030-ed602700-ac7a-11e9-9c33-eedca05a80d6.png)

[2019-07-22 04:01] hyoshioka0128 commented on #141
Hi, @mypil .
#141 is not Fixed.
ja-jp:
![whats-new-wip-at-work-1809_j3](https://user-images.githubusercontent.com/40815708/61605495-b725a600-ac80-11e9-8b0b-e7edba2a7e8e.png)

en-us:
![whats-new-wip-at-work-1809_e3](https://user-images.githubusercontent.com/40815708/61605497-bd1b8700-ac80-11e9-9e32-63f1834dd7b8.png)

[2019-07-22 08:01] mypil commented on #211
@officedocsbot assign @mypil

[2019-07-22 08:01] mypil commented on #212
@officedocsbot assign @mypil

[2019-07-22 08:53] mypil commented on #211
@officedocsbot assign @mypil
@officedocsbot assign @MollyMalone
@officedocsbot add label localization

[2019-07-22 08:53] mypil commented on #212
@officedocsbot assign @mypil
@officedocsbot assign @MollyMalone
@officedocsbot add label localization

[2019-07-22 08:56] mypil commented on #211
@MollyMalone - Can you please assist with this new translation/localization issue?

Thank you.

[2019-07-22 08:56] mypil commented on #212
@MollyMalone - Can you please assist with this new translation/localization issue?

Thank you.

[2019-07-22 16:40] mypil commented on #189
@MollyMalone - Can you please assist with this unresolved issue?

Thank you.

[2019-07-22 16:41] mypil commented on #176
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:42] mypil commented on #175
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:42] mypil commented on #174
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:42] mypil commented on #173
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:42] mypil commented on #172
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:43] mypil commented on #171
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:43] mypil commented on #170
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:43] mypil commented on #168
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:43] mypil commented on #167
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:44] mypil commented on #161
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:44] mypil commented on #160
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:44] mypil commented on #159
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:45] mypil commented on #158
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:45] mypil commented on #150
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:46] mypil commented on #149
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:46] mypil commented on #147
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:46] mypil commented on #146
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:47] mypil commented on #144
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:47] mypil commented on #145
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:47] mypil commented on #143
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:47] mypil commented on #142
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-22 16:48] mypil commented on #141
@MollyMalone - Can you please assist with this issue?

Thank you.

[2019-07-23 03:27] hyoshioka0128 opened #214 """いいね!" を使用した輻輳制御" needs to be replaced with ”LEDBATによる輻輳制御”"
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-new-wip-at-work-1809
![whats-new-wip-at-work-1809_j](https://user-images.githubusercontent.com/40815708/61680581-16e58500-ad45-11e9-8abd-1483d9367a07.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-work/whats-new-wip-at-work-1809
![whats-new-wip-at-work-1809_e](https://user-images.githubusercontent.com/40815708/61

[2019-07-23 08:05] mypil commented on #214
@officedocsbot assign @mypil
@officedocsbot assign @MollyMalone
@officedocsbot add label localization

[2019-07-23 08:05] mypil commented on #214
@MollyMalone - Can you please assist with this new translation/localization issue?

Thank you.

[2019-07-24 02:37] 16dyui commented on #208
Thunk you.
I have confirmed.

[2019-07-24 02:37] #208 closed

[2019-07-24 10:26] hyoshioka0128 commented on #140
Hi, @mypil .
#140 is not Fixed.
![whats-new-wip-at-work-1809_j](https://user-images.githubusercontent.com/40815708/61786561-ee46b380-ae48-11e9-90c8-864e7a14b5f4.png)

[2019-07-24 10:29] hyoshioka0128 commented on #139
Hi, @mypil .
#139 is not Fixed.
![whats-new-wip-at-home-19h1_](https://user-images.githubusercontent.com/40815708/61786729-509fb400-ae49-11e9-8988-dc410b265784.png)

[2019-07-24 10:30] hyoshioka0128 commented on #138
Hi, @mypil .
#138 is not Fixed.
![whats-new-wip-at-home-19h1_j2](https://user-images.githubusercontent.com/40815708/61786855-8cd31480-ae49-11e9-962d-58d085b1b308.png)

[2019-07-24 10:34] hyoshioka0128 commented on #137
Hi, @mypil .
#137 is not Fixed.
![troubleshooting_j](https://user-images.githubusercontent.com/40815708/61787102-0bc84d00-ae4a-11e9-8625-ce513ae6bd83.png)

[2019-07-24 10:38] hyoshioka0128 commented on #136
Hi, @mypil .
#136 is not Fixed.
![troubleshooting_j2](https://user-images.githubusercontent.com/40815708/61787385-a58ffa00-ae4a-11e9-9173-c38d9308546c.png)

[2019-07-24 10:42] hyoshioka0128 commented on #136
same page:
![troubleshooting_j3](https://user-images.githubusercontent.com/40815708/61787642-2c44d700-ae4b-11e9-9dfe-ef77deb440dd.png)

[2019-07-24 10:44] hyoshioka0128 commented on #134
Hi, @mypil .
#134 is not Fixed.
![troubleshooting_j4](https://user-images.githubusercontent.com/40815708/61787766-6f9f4580-ae4b-11e9-9ec9-254748233858.png)

[2019-07-24 10:48] hyoshioka0128 commented on #133
Hi, @mypil .
#133 is not Fixed.
![rings_j](https://user-images.githubusercontent.com/40815708/61788013-066c0200-ae4c-11e9-96c3-c2ade6dd16b1.png)

[2019-07-24 10:58] hyoshioka0128 commented on #132
Hi, @mypil .
#132 is not Fixed.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-apps-19h1
![whats-new-apps-19h1_j1](https://user-images.githubusercontent.com/40815708/61788557-526b7680-ae4d-11e9-899e-900ca1e51ea3.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-apps
![whats-new-apps_e](https://user-images.githubusercontent.com/40815708/6178858

[2019-07-24 14:44] mypil commented on #140
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-24 14:45] mypil commented on #139
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-24 14:45] mypil commented on #138
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-24 14:45] mypil commented on #137
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-24 14:45] mypil commented on #136
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-24 14:45] mypil commented on #134
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-24 14:45] mypil commented on #133
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-24 14:46] mypil commented on #132
@MollyMalone - Issue is not fixed yet. Can you please check and assist with this?

Thank you.

[2019-07-27 05:49] hyoshioka0128 commented on #131
Hi, @mypil .
Fixed.
Close #131

[2019-07-27 05:49] #131 closed

[2019-07-27 05:50] hyoshioka0128 commented on #130
Hi, @mypil .
Fixed.
Close #130

[2019-07-27 05:51] hyoshioka0128 commented on #129
Hi, @mypil .
Fixed.
Close #129

[2019-07-27 10:01] hyoshioka0128 commented on #129
Hi, @mypil .Reopen.
 #129 is not Fixed.

ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j5](https://user-images.githubusercontent.com/40815708/61993018-cce00480-b0a0-11e9-87e3-310b5abb0536.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_e5](https://us

[2019-07-27 10:06] hyoshioka0128 commented on #130
Hi, @mypil .
#130 is not Fixed. Reopen .
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j6](https://user-images.githubusercontent.com/40815708/61993101-abcbe380-b0a1-11e9-9d0e-96109a772b9d.png)

[2019-07-28 04:58] hyoshioka0128 commented on #128
Hi, @mypil .
#128 is not Fixed.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j7](https://user-images.githubusercontent.com/40815708/62002465-9a391900-b13f-11e9-89ca-69fa2210796a.png)

ref:https://blogs.windows.com/japan/2018/11/14/find-out-whats-new-in-windows-and-office-in-october/
![find-out-whats-new-in-windows-and-office

[2019-07-28 05:03] hyoshioka0128 commented on #127
Hi, @mypil .
#127 is not Fixed.
![whats-new-wip-at-home-1809_j8](https://user-images.githubusercontent.com/40815708/62002498-71655380-b140-11e9-8ebe-2417b6a6e83a.png)

[2019-07-28 05:15] hyoshioka0128 commented on #126
Hi, @mypil .
#126 is not Fixed.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j9](https://user-images.githubusercontent.com/40815708/62002589-277d6d00-b142-11e9-802d-8cd92fd17096.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_e9](https://user-images

[2019-07-28 05:25] hyoshioka0128 commented on #125
Hi, @mypil .
#125 is not Fixed.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j10](https://user-images.githubusercontent.com/40815708/62002659-7e377680-b143-11e9-80d7-131ea68d6ffe.png)

en-us:https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_e10](https://user-imag

[2019-07-28 05:31] hyoshioka0128 commented on #124
Hi, @mypil .
Fixed.Close #124.
ja-jp:https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1809
![whats-new-wip-at-home-1809_j11](https://user-images.githubusercontent.com/40815708/62002687-6f04f880-b144-11e9-945f-2d5769ef2ee0.png)

[2019-07-28 05:32] #124 closed

[2019-07-28 05:40] hyoshioka0128 commented on #123
Hi, @mypil.
#123 list is Verified.
Thank you.

[2019-07-29 10:19] mypil commented on #129
@MollyMalone - Issue is not fixed yet. Can you please assist with this issue?

Thank you.

[2019-07-29 10:20] mypil commented on #128
@MollyMalone - Issue is not fixed yet. Can you please assist with this issue?

Thank you.

[2019-07-29 10:20] mypil commented on #127
@MollyMalone - Issue is not fixed yet. Can you please assist with this issue?

Thank you.

[2019-07-29 10:20] mypil commented on #126
@MollyMalone - Issue is not fixed yet. Can you please assist with this issue?

Thank you.

[2019-07-29 10:20] mypil commented on #125
@MollyMalone - Issue is not fixed yet. Can you please assist with this issue?

Thank you.

[2019-07-31 08:55] mypil commented on #123
@officedocsbot assign @TinaMcN

[2019-07-31 08:55] mypil commented on #125
@officedocsbot assign @TinaMcN

[2019-07-31 08:55] mypil commented on #126
@officedocsbot assign @TinaMcN

[2019-07-31 08:55] mypil commented on #127
@officedocsbot assign @TinaMcN

[2019-07-31 08:56] mypil commented on #128
@officedocsbot assign @TinaMcN

[2019-07-31 08:56] mypil commented on #129
@officedocsbot assign @TinaMcN

[2019-07-31 08:56] mypil commented on #130
@officedocsbot assign @TinaMcN

[2019-07-31 08:56] mypil commented on #133
@officedocsbot assign @TinaMcN

[2019-07-31 08:57] mypil commented on #134
@officedocsbot assign @TinaMcN

[2019-07-31 08:57] mypil commented on #135
@officedocsbot assign @TinaMcN

[2019-07-31 08:57] mypil commented on #136
@officedocsbot assign @TinaMcN

[2019-07-31 08:57] mypil commented on #137
@officedocsbot assign @TinaMcN

[2019-07-31 08:58] mypil commented on #138
@officedocsbot assign @TinaMcN

[2019-07-31 08:58] mypil commented on #139
@officedocsbot assign @TinaMcN

[2019-07-31 08:58] mypil commented on #140
@officedocsbot assign @TinaMcN

[2019-07-31 08:58] mypil commented on #141
@officedocsbot assign @TinaMcN

[2019-07-31 08:58] mypil commented on #142
@officedocsbot assign @TinaMcN

[2019-07-31 08:58] mypil commented on #143
@officedocsbot assign @TinaMcN

[2019-07-31 08:58] mypil commented on #144
@officedocsbot assign @TinaMcN

[2019-07-31 09:00] mypil commented on #145
@officedocsbot assign @TinaMcN

[2019-07-31 09:00] mypil commented on #146
@officedocsbot assign @TinaMcN

[2019-07-31 09:00] mypil commented on #147
@officedocsbot assign @TinaMcN

[2019-07-31 09:00] mypil commented on #148
@officedocsbot assign @TinaMcN

[2019-07-31 09:01] mypil commented on #149
@officedocsbot assign @TinaMcN

[2019-07-31 09:01] mypil commented on #150
@officedocsbot assign @TinaMcN

[2019-07-31 09:01] mypil commented on #151
@officedocsbot assign @TinaMcN

[2019-07-31 09:02] mypil commented on #154
@officedocsbot assign @TinaMcN

[2019-07-31 09:02] mypil commented on #158
@officedocsbot assign @TinaMcN

[2019-07-31 09:02] mypil commented on #159
@officedocsbot assign @TinaMcN

[2019-07-31 09:03] mypil commented on #160
@officedocsbot assign @TinaMcN

[2019-07-31 09:03] mypil commented on #161
@officedocsbot assign @TinaMcN

[2019-07-31 09:03] mypil commented on #167
@officedocsbot assign @TinaMcN

[2019-07-31 09:03] mypil commented on #168
@officedocsbot assign @TinaMcN

[2019-07-31 09:03] mypil commented on #170
@officedocsbot assign @TinaMcN

[2019-07-31 09:03] mypil commented on #171
@officedocsbot assign @TinaMcN

[2019-07-31 09:04] mypil commented on #172
@officedocsbot assign @TinaMcN

[2019-07-31 09:04] mypil commented on #173
@officedocsbot assign @TinaMcN

[2019-07-31 09:05] mypil commented on #174
@officedocsbot assign @TinaMcN

[2019-07-31 09:05] mypil commented on #175
@officedocsbot assign @TinaMcN

[2019-07-31 09:05] mypil commented on #176
@officedocsbot assign @TinaMcN

[2019-07-31 09:06] mypil commented on #189
@officedocsbot assign @TinaMcN

[2019-07-31 09:06] mypil commented on #211
@officedocsbot assign @TinaMcN

[2019-07-31 09:06] mypil commented on #212
@officedocsbot assign @TinaMcN

[2019-07-31 09:06] mypil commented on #214
@officedocsbot assign @TinaMcN

[2019-07-31 09:07] mypil commented on #132
@officedocsbot assign @TinaMcN

[2019-08-15 22:54] TinaMcN commented on #123
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.)

[2019-08-15 22:56] TinaMcN commented on #125
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。 この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback. This is a problem with the MT tool. I have reported the problem to the tool owners. I don't expect this issue to be fixed quickly. I will update when we have a fix.)

[2019-08-15 23:49] TinaMcN commented on #141
@hyoshioka0128 フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 完了までに数週間かかる場合があります。(Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  This may take a few weeks to complete.)

[2019-08-30 14:19] mypil commented on #138
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:19] mypil commented on #139
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:19] mypil commented on #140
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:19] mypil commented on #144
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:19] mypil commented on #212
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:20] mypil commented on #142
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:20] mypil commented on #143
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:21] mypil commented on #147
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:21] mypil commented on #148
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:21] mypil commented on #149
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:21] mypil commented on #150
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:21] mypil commented on #151
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:21] mypil commented on #154
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:21] mypil commented on #167
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:22] mypil commented on #168
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:22] mypil commented on #170
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:22] mypil commented on #175
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:22] mypil commented on #176
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:22] mypil commented on #211
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 14:22] mypil commented on #214
@TinaMcN - Do you have any updates on the latest progress of this?

[2019-08-30 22:14] TinaMcN commented on #138
I notice that the English version of this page redirects to a newer page (https://docs.microsoft.com/en-us/windows-insider/at-home/whats-new-wip-at-home-1903).  Investigating...

[2019-08-30 23:01] TinaMcN commented on #170
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:25] TinaMcN commented on #139
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:25] TinaMcN commented on #212
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:26] TinaMcN commented on #140
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:26] TinaMcN commented on #144
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:27] TinaMcN commented on #142
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:27] TinaMcN commented on #142
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:42] TinaMcN commented on #143
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:45] TinaMcN commented on #149
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:45] TinaMcN commented on #148
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:46] TinaMcN commented on #147
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:48] TinaMcN commented on #151
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:48] TinaMcN commented on #154
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:49] TinaMcN commented on #167
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:49] TinaMcN commented on #168
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:51] TinaMcN commented on #176
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-30 23:51] TinaMcN commented on #175
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-31 00:01] TinaMcN commented on #150
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-08-31 00:03] TinaMcN commented on #211
@hyoshioka0128 この深刻な問題を報告していただきありがとうございます。 他の言語でも起こっています。 私はサポートチームにエスカレートしました。 (Thank you for reporting this serious issue.  It is also happening for other languages.  I have escalated to my support team.)

[2019-08-31 00:04] TinaMcN commented on #214
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-10-04 14:46] mypil commented on #138
@TinaMcN - Do you have any updates on the progress of the investigation?

Thank you.

[2019-10-04 14:53] mypil commented on #139
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:55] mypil commented on #140
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:55] mypil commented on #141
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:55] mypil commented on #142
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:56] mypil commented on #143
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:56] mypil commented on #144
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:57] mypil commented on #147
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:57] mypil commented on #148
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:58] mypil commented on #149
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:58] mypil commented on #150
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:58] mypil commented on #151
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:58] mypil commented on #154
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:59] mypil commented on #167
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 14:59] mypil commented on #168
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 15:00] mypil commented on #170
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 15:00] mypil commented on #175
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 15:00] mypil commented on #176
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 15:02] mypil commented on #211
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-10-04 15:03] mypil commented on #212
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 15:03] mypil commented on #214
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-10-04 17:06] TinaMcN commented on #141
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:08] TinaMcN commented on #139
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:09] TinaMcN commented on #143
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:09] TinaMcN commented on #144
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:10] TinaMcN commented on #147
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:10] TinaMcN commented on #148
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:11] TinaMcN commented on #149
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:11] TinaMcN commented on #150
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:11] TinaMcN commented on #151
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:12] TinaMcN commented on #154
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:13] TinaMcN commented on #167
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:13] TinaMcN commented on #168
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:14] TinaMcN commented on #142
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:15] TinaMcN commented on #170
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:16] TinaMcN commented on #175
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:20] TinaMcN commented on #211
この問題は修正されました。 目次が翻訳されました。 この問題を報告していただきありがとうございます。 (This issue is now fixed.  The Table Of Contents is now translated.  Thanks again for reporting this issue.)

[2019-10-04 17:21] TinaMcN commented on #140
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:21] TinaMcN commented on #176
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:23] TinaMcN commented on #212
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:24] TinaMcN commented on #214
この記事はまだ機械翻訳です。 私は、人間翻訳版がいつ準備ができているかのステータスをローカリゼーションベンダーに確認しています。 (This article is still machine translated.  I am checking with the localization vendor for status on when the human translated version will be ready.)

[2019-10-04 17:26] TinaMcN commented on #138
https://docs.microsoft.com/ja-jp/windows-insider/at-home/whats-new-wip-at-home-1903 has been sent for human translation which should fix the issue.

[2019-10-05 00:22] hyoshioka0128 commented on #211
@TinaMcN @mypil - Fixed. Thank you.
Closed #211

[2019-10-05 00:22] #211 closed

[2019-10-06 06:41] sujayvsarma opened #237 "Flight Hub doc for Windows 10 Insider build Needs Updates"
@lizap Please update the Flight Hub doc for Windows 10 Insider build 18995.

https://github.com/microsoftdocs/windows-insider/blob/master/wip/flight-hub/index.md

[2019-10-07 09:04] mypil commented on #237
@sujayvsarma  - Thank you for submitting feedback.

I will get this issue over to the Windows Insider writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2019-10-10 06:44] mypil commented on #237
@bleblancMSFT - Can you please assist with this request? This might be addressed in PR #234 which was created by @ItzLevvie

Thank you.

cc: @kenwith

[2019-10-11 03:39] #237 closed

[2019-10-11 03:40] bleblancMSFT commented on #237
Hi @mypil - this was added in via PR 234. I approved the merge :-)

[2019-10-18 23:05] TinaMcN commented on #189
@hyoshioka0128 フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。 この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。(Thank you for the feedback. This is a problem with the MT tool. I have reported the problem to the tool owners. I don't expect this issue to be fixed quickly. I will update when we have a fix.)

[2019-10-18 23:46] TinaMcN commented on #173
Thank you for the feedback.  This is a problem with the MT tool.  I have reported the problem to the tool owners.   I don't expect this issue to be fixed quickly.  I will update when we have a fix.
フィードバックをありがとうございました。 これは MT ツールの問題です。 私はツールの所有者に問題を報告しました。  この問題がすぐに解決されるとは思いません。 修正が必要になったときに更新します。

[2019-10-30 20:59] TinaMcN commented on #214
@hyoshioka0128 記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-10-30 23:40] hyoshioka0128 commented on #214
@TinaMcN  - Not corrected.
""いいね!" を使用した輻輳制御" is showing.
Thanks.

[2019-11-01 23:23] TinaMcN commented on #214
@hyoshioka0128 ごめんなさい。 私は次の2つの記事の間で混乱しました。
https://docs.microsoft.com/ja-jp/windows-insider/at-home/Whats-new-wip-at-home-1809 (現在は人間が翻訳)
https://docs.microsoft.com/ja-jp/windows-insider/at-work/whats-new-wip-at-work-1809 (スティル マシン翻訳済み)
私は今、人間の翻訳のために何を新しいwip-at-work-1809に送っています。
準備が整うには2週間かかります。
(I am sorry.  I was confused between the following 2 articles.
https://docs.microsoft.com/ja-jp/windows

[2019-11-03 02:33] mypil commented on #140
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 02:34] mypil commented on #139
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 02:34] mypil commented on #138
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 02:35] mypil commented on #141
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 02:36] mypil commented on #142
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 02:36] mypil commented on #143
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 02:36] mypil commented on #144
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 03:33] mypil commented on #147
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 03:33] mypil commented on #148
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 03:34] mypil commented on #149
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 03:34] mypil commented on #150
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 04:01] mypil commented on #150
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 04:01] mypil commented on #154
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 04:02] mypil commented on #167
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 04:02] mypil commented on #168
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 04:02] mypil commented on #170
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 05:07] mypil commented on #175
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 05:08] mypil commented on #176
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-03 05:08] mypil commented on #212
@TinaMcN - Do you have any updates on this?

Thank you.

[2019-11-04 19:07] TinaMcN commented on #139
@hyoshioka0128 記事は現在、人間が翻訳されています。 問題が解決したことを確認してください。 フィードバックをありがとう。
(The article is now human translated.  Please verify that the issue is fixed.  Thanks again for the feedback.)

[2019-11-04 21:50] TinaMcN commented on #212
@hyoshioka0128 記事は現在、人間が翻訳されています。 問題が解決したことを確認してください。 フィードバックをありがとう。
(The article is now human translated.  Please verify that the issue is fixed.  Thanks again for the feedback.)

[2019-11-04 21:57] TinaMcN commented on #175
記事は現在、人間が翻訳されています。 問題が解決したことを確認してください。 フィードバックをありがとう。
(The article is now human translated.  Please verify that the issue is fixed.  Thanks again for the feedback.)

[2019-11-05 00:07] TinaMcN commented on #147
@hyoshioka0128 記事は現在、人間が翻訳されています。 問題が解決したことを確認してください。 フィードバックをありがとう。
(The article is now human translated.  Please verify that the issue is fixed.  Thanks again for the feedback.)

[2019-11-05 00:09] TinaMcN commented on #143
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-05 00:13] TinaMcN commented on #140
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-05 00:15] TinaMcN commented on #138
@hyoshioka0128 記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-11-05 00:16] TinaMcN commented on #141
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-05 00:16] TinaMcN commented on #142
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-05 00:17] TinaMcN commented on #144
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-05 00:19] TinaMcN commented on #148
記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-11-05 00:22] TinaMcN commented on #149
記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-11-05 00:23] TinaMcN commented on #150
@hyoshioka0128 記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-11-05 00:24] TinaMcN commented on #154
@hyoshioka0128 記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-11-05 00:25] TinaMcN commented on #167
@hyoshioka0128 記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-11-05 00:32] TinaMcN commented on #168
@hyoshioka0128 この問題が修正されたかどうかを確認してください。 英語 + 日本語のページが更新されました。 (Can you please check if this issue has been fixed.  The English + Japanese pages have been updated.)

[2019-11-05 00:33] TinaMcN commented on #170
@hyoshioka0128 記事は現在、人間翻訳されており、問題は修正されているようです。 修正済みであることを確認してください。 フィードバックをありがとうございました。
(The article is now human translated and the issue appears to be fixed.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-11-05 03:01] hyoshioka0128 commented on #170
@TinaMcN  - Fixed.
Closed #170
Thanks.

[2019-11-05 03:01] #170 closed

[2019-11-05 03:03] hyoshioka0128 commented on #167
@TinaMcN  - Fixed.
Closed #167
Thanks.

[2019-11-05 03:03] #167 closed

[2019-11-05 03:04] hyoshioka0128 commented on #154
@TinaMcN  - Fixed.
Closed #154
Thanks.

[2019-11-05 03:04] #154 closed

[2019-11-05 03:06] hyoshioka0128 commented on #150
@TinaMcN  - Fixed.
Closed #150
Thanks.

[2019-11-05 03:06] #150 closed

[2019-11-05 03:09] hyoshioka0128 commented on #149
@TinaMcN  - Fixed.
Closed #149
Thanks.

[2019-11-05 03:09] #149 closed

[2019-11-05 03:10] hyoshioka0128 commented on #148
@TinaMcN  - Fixed.
Closed #148
Thanks.

[2019-11-05 03:10] #148 closed

[2019-11-05 03:11] hyoshioka0128 commented on #138
@TinaMcN  - Fixed.
Closed #138
Thanks.

[2019-11-05 03:11] #138 closed

[2019-11-05 03:16] hyoshioka0128 commented on #175
@TinaMcN - Not corrected.
"__HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate__" is showing(Same as 21 Jul ).
Thanks.

[2019-11-05 03:19] hyoshioka0128 commented on #212
@TinaMcN - Not corrected.
"https://aka.ms/windowscontainer" is Broken link(Same as 20 Jul).
Thanks.

[2019-11-05 03:37] TinaMcN commented on #175
吉大さん、ありがとうございました。 私はそれを人間の翻訳に送り返した。

[2019-11-11 08:07] mypil commented on #147
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-11-11 08:09] mypil commented on #139
@hyoshioka0128 - Please check and confirm if issue is fixed. Thank you.

問題が修正されたかどうかを確認してください。 ありがとうございました。

[2019-11-11 08:19] hyoshioka0128 commented on #147
@TinaMcN @mypil - Fixed.
Closed #147
Thanks.

[2019-11-11 08:19] #147 closed

[2019-11-11 10:04] hyoshioka0128 commented on #168
@TinaMcN - Not Corrected.
"同期電話" needs to be replaced with "スマホ同期アプリ"
![YourPhone](https://user-images.githubusercontent.com/40815708/68578794-11f43f00-04b6-11ea-9545-91208e490543.png)

Thanks.

[2019-11-11 23:40] hyoshioka0128 commented on #139
@TinaMcN  @mypil - Closed #139
Close because there is no corresponding content.
Redirected from "/whats-new-wip-at-home-19h1" to "/whats-new-wip-at-home-1903".
Thanks.

[2019-11-11 23:40] #139 closed

[2019-11-15 18:15] TinaMcN commented on #212
@hyoshioka0128 お詫び申し上げます。  私は再び人間の翻訳されるように記事を送った。 私は翻訳者にリンクを修正するように頼みました。(I apologise for this.   I sent the article to be human translated again.  I asked the translators to fix the link.)

[2019-11-15 19:15] TinaMcN commented on #168
@hyoshioka0128 お詫び申し上げます。  私は再び人間の翻訳されるように記事を送った。 (I apologise for this.   I sent the article to be human translated again.  )

[2019-11-15 23:02] TinaMcN commented on #171
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:08] TinaMcN commented on #159
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:08] TinaMcN commented on #160
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:09] TinaMcN commented on #158
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:12] TinaMcN commented on #145
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:15] TinaMcN commented on #137
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:16] TinaMcN commented on #136
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:16] TinaMcN commented on #135
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:17] TinaMcN commented on #134
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:18] TinaMcN commented on #133
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:19] TinaMcN commented on #132
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:20] TinaMcN commented on #130
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:21] TinaMcN commented on #129
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:21] TinaMcN commented on #128
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:22] TinaMcN commented on #127
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:22] TinaMcN commented on #126
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-15 23:23] TinaMcN commented on #125
私は人間の翻訳のためにこの記事を送った。 約2週間かかります。 (I sent this article to be human translated.  It should take approximately 2 weeks.)

[2019-11-16 13:25] hyoshioka0128 commented on #168
same page
 ja-jp:
![whats-new-apps_j3](https://user-images.githubusercontent.com/40815708/68993858-d98e9f80-08bf-11ea-8a07-4a3378d8b4e7.png)

 en-us:
![whats-new-apps_e3](https://user-images.githubusercontent.com/40815708/68993864-e3b09e00-08bf-11ea-9129-f2e411488969.png)

[2019-11-18 14:05] eriawan opened #256 "The Windows Insider "Working with rings and updates" need to be updated because Skip Ahead is now gone"
The page under the section of Windows Insider Program titled[ "Working with rings and updates"](https://docs.microsoft.com/windows-insider/at-home/rings) needs to be updated, because the "Skip Ahead" insider release ring is gone.

Based on this original announcement, Skip Ahead is gone:  https://blogs.windows.com/windowsexperience/2019/11/05/announcing-windows-10-insider-preview-build-19018

Pleas

[2019-11-21 02:54] eriawan commented on #256
@mypil @bleblancMSFT

Pardon, any update on this issue?

[2019-11-21 17:40] bleblancMSFT commented on #256
We are working on updating this content.

[2019-11-22 03:42] eriawan commented on #256
Thanks for the update, @bleblancMSFT 👍

[2019-11-26 09:40] mypil commented on #256
@eriawan - From our understanding, the issue has been answered by bleblancMSFT.

Thank you for engaging with the community here for the docs.

[2019-11-26 09:40] #256 closed

[2019-12-03 19:14] TinaMcN commented on #214
@hyoshioka0128 記事は現在、人間が翻訳されています。 問題が解決したことを確認してください。 フィードバックをありがとう。
(The article is now human translated.  Please verify that the issue is fixed.  Thanks again for the feedback.)

[2019-12-03 23:33] hyoshioka0128 commented on #214
@TinaMcN - Corrected.
Closed #214.
Thanks.

[2019-12-03 23:33] #214 closed

[2019-12-11 13:15] mypil commented on #125
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:15] mypil commented on #126
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:16] mypil commented on #127
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:16] mypil commented on #128
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:17] mypil commented on #129
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:17] mypil commented on #130
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:18] mypil commented on #132
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:19] mypil commented on #133
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:19] mypil commented on #134
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:19] mypil commented on #135
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:20] mypil commented on #136
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:21] mypil commented on #145
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:21] mypil commented on #158
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:22] mypil commented on #159
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:22] mypil commented on #160
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:23] mypil commented on #168
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:23] mypil commented on #171
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-11 13:23] mypil commented on #212
@TinaMcN - Do you have any updates on the status of this?

Thank you.

[2019-12-13 01:05] TinaMcN commented on #125
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:05] TinaMcN commented on #126
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:06] TinaMcN commented on #127
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:06] TinaMcN commented on #128
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:06] TinaMcN commented on #129
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:07] TinaMcN commented on #130
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:07] TinaMcN commented on #132
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:08] TinaMcN commented on #133
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:09] TinaMcN commented on #158
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:09] TinaMcN commented on #159
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:09] TinaMcN commented on #160
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:10] TinaMcN commented on #168
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:10] TinaMcN commented on #171
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 01:11] TinaMcN commented on #212
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-13 04:09] hyoshioka0128 commented on #125
@TinaMcN - Corrected.
Closed #125.
Thanks.

[2019-12-13 04:09] #125 closed

[2019-12-13 10:42] hyoshioka0128 commented on #126
@TinaMcN - Corrected.
Closed #126.
Thanks.

[2019-12-13 10:42] #126 closed

[2019-12-14 01:18] TinaMcN commented on #133
記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックをありがとう。(The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-12-14 01:27] hyoshioka0128 commented on #133
@TinaMcN - Corrected.
Closed #133.
Thanks.

[2019-12-14 01:27] #133 closed

[2019-12-14 01:40] TinaMcN commented on #123
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックをありがとう。(The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-12-14 01:42] TinaMcN commented on #174
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックをありがとう。(The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-12-14 01:42] TinaMcN commented on #173
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックをありがとう。(The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-12-14 01:48] TinaMcN commented on #175
記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックをありがとう。(The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback.)

[2019-12-14 07:50] hyoshioka0128 commented on #174
@TinaMcN - Content disappeared
Closed #174.
Thanks.

[2019-12-14 07:50] #174 closed

[2019-12-14 07:55] hyoshioka0128 commented on #123
@TinaMcN - Corrected.
Closed #123.
Thanks.

[2019-12-14 07:55] #123 closed

[2019-12-14 14:35] mypil commented on #127
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:35] mypil commented on #128
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:36] mypil commented on #129
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:36] mypil commented on #130
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:36] mypil commented on #132
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:37] mypil commented on #158
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:37] mypil commented on #159
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:37] mypil commented on #160
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:38] mypil commented on #160
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:38] mypil commented on #168
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:39] mypil commented on #171
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 14:39] mypil commented on #212
@hyoshioka0128 - Kindly check and validate if issue has been resolved. Thank you.

[2019-12-14 15:09] hyoshioka0128 commented on #160
@TinaMcN - Fixed.
Closed #160.
Thanks.

[2019-12-14 15:09] #160 closed

[2019-12-14 15:10] hyoshioka0128 commented on #127
@TinaMcN - Fixed.
Closed #127.
Thanks.

[2019-12-14 15:10] #127 closed

[2019-12-14 15:24] hyoshioka0128 commented on #212
@TinaMcN  @mypil - Not corrected.

[2019-12-14 15:28] hyoshioka0128 commented on #171
@TinaMcN @mypil - Corrected.
Closed #171.
Thanks.

[2019-12-14 15:28] #171 closed

[2019-12-14 15:31] hyoshioka0128 commented on #168
@TinaMcN @mypil - Corrected.
Closed #168.
Thanks.

[2019-12-14 15:31] #168 closed

[2019-12-14 15:34] hyoshioka0128 commented on #159
@TinaMcN @mypil - Corrected.
Closed #159.
Thanks.

[2019-12-14 15:34] #159 closed

[2019-12-14 15:36] hyoshioka0128 commented on #158
@TinaMcN @mypil - Corrected.
Closed #158.
Thanks.

[2019-12-14 15:36] #158 closed

[2019-12-14 15:37] hyoshioka0128 commented on #132
@TinaMcN @mypil - Corrected.
Closed #132.
Thanks.

[2019-12-14 15:37] #132 closed

[2019-12-14 15:38] hyoshioka0128 commented on #130
@TinaMcN @mypil - Corrected.
Closed #130.
Thanks.

[2019-12-14 15:38] #130 closed

[2019-12-14 15:42] hyoshioka0128 commented on #129
@TinaMcN @mypil - Corrected.
Closed #129.
Thanks.

[2019-12-14 15:42] #129 closed

[2019-12-14 15:43] hyoshioka0128 commented on #128
@TinaMcN @mypil - Corrected.
Closed #128.
Thanks.

[2019-12-14 15:43] #128 closed

[2019-12-14 15:46] hyoshioka0128 commented on #175
@TinaMcN - Corrected.
Closed #175.
Thanks.

[2019-12-14 15:46] #175 closed

[2019-12-14 15:48] hyoshioka0128 commented on #173
@TinaMcN - Content disappeared
Closed #173.
Thanks.

[2019-12-14 15:48] #173 closed

[2019-12-16 21:42] TinaMcN commented on #189
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-16 21:43] TinaMcN commented on #176
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-16 21:43] TinaMcN commented on #172
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-16 21:44] TinaMcN commented on #161
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-16 21:44] TinaMcN commented on #151
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-17 03:23] hyoshioka0128 commented on #151
@TinaMcN - Corrected.
Closed #151.
Thanks.

[2019-12-17 03:23] #151 closed

[2019-12-17 03:25] hyoshioka0128 commented on #161
@TinaMcN - Corrected.
Closed #161.
Thanks.

[2019-12-17 03:25] #161 closed

[2019-12-17 03:26] hyoshioka0128 commented on #172
@TinaMcN - Corrected.
Closed #172.
Thanks.

[2019-12-17 03:26] #172 closed

[2019-12-17 03:27] hyoshioka0128 commented on #176
@TinaMcN - Corrected.
Closed #176.
Thanks.

[2019-12-17 03:27] #176 closed

[2019-12-17 03:49] hyoshioka0128 commented on #189
@TinaMcN - Corrected.
Closed #189.
Thanks.

[2019-12-17 03:49] #189 closed

[2019-12-18 00:21] TinaMcN commented on #212
@hyoshioka0128 そのことについてお詫び申し上げます。  私は翻訳者に問題を調査し、修正するように頼みました。 (I apologise about that.   I have asked the translators to investigate and fix the issue.)

[2019-12-18 00:28] TinaMcN commented on #146
フィードバックをありがとうございました。 記事は機械翻訳されました。 私は人間の翻訳のためにそれを送った。 翻訳が完了するまでに最大4週間かかります。 (Thank you for the feedback.  The article was machine translated.  I sent it for human translation.  It will take up to 4 weeks to complete the translation.)

[2019-12-18 00:35] TinaMcN commented on #143
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-18 00:36] TinaMcN commented on #142
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-18 00:36] TinaMcN commented on #141
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-18 00:37] TinaMcN commented on #140
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-18 03:19] hyoshioka0128 commented on #140
@TinaMcN - Corrected.
Closed #140.
Thanks.

[2019-12-18 03:19] #140 closed

[2019-12-18 03:21] hyoshioka0128 commented on #141
@TinaMcN - Corrected.
Closed #141.
Thanks.

[2019-12-18 03:21] #141 closed

[2019-12-18 03:21] hyoshioka0128 commented on #142
@TinaMcN - Corrected.
Closed #142.
Thanks.

[2019-12-18 03:21] #142 closed

[2019-12-18 03:25] hyoshioka0128 commented on #143
@TinaMcN - Not Corrected. (Same as 22 Jul)
Showing "HgsKeyProtectionConfiguration –AllowKeyMaterialCaching"
 →" Set-HgsKeyProtectionConfiguration –AllowKeyMaterialCaching”

[2019-12-19 03:10] hyoshioka0128 commented on #143
ja-jp:
![whats-new-wip-at-work-1809_j](https://user-images.githubusercontent.com/40815708/71141735-7abe9c00-2258-11ea-9a1e-7756f85d5160.png)

en-us:
![whats-new-wip-at-work-1809_e](https://user-images.githubusercontent.com/40815708/71141756-8611c780-2258-11ea-82ce-bd992c8f4195.png)

[2019-12-23 19:13] TinaMcN commented on #146
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-23 19:14] TinaMcN commented on #145
記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-23 19:15] TinaMcN commented on #137
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-23 19:15] TinaMcN commented on #135
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-23 19:15] TinaMcN commented on #136
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-23 19:15] TinaMcN commented on #134
@hyoshioka0128 記事は現在、人間が翻訳されています。 修正済みであることを確認してください。 フィードバックのおかげで再び (The article is now human translated.  Please verify that it is fixed.  Thanks again for the feedback)

[2019-12-23 19:24] TinaMcN commented on #212
@mypil the localization engineers report that this seems to be a source issue.  Can you help with that?
![image](https://user-images.githubusercontent.com/53281468/71376547-b4541780-2576-11ea-8ce4-7d9d1019ac4e.png)

[2019-12-23 23:46] TinaMcN commented on #143
@hyoshioka0128 そのことについてお詫び申し上げます。  私は翻訳者に問題を調査し、修正するように頼みました。 (I apologise about that.   I have asked the translators to investigate and fix the issue.)

[2019-12-24 03:23] hyoshioka0128 commented on #134
@TinaMcN - Corrected.
Closed #134
Thanks.

[2019-12-24 03:23] #134 closed

[2019-12-24 03:25] hyoshioka0128 commented on #135
@TinaMcN - Corrected.
Closed #135.
Thanks.

[2019-12-24 03:25] #135 closed

[2019-12-24 03:25] hyoshioka0128 commented on #136
@TinaMcN - Corrected.
Closed #136.
Thanks.

[2019-12-24 03:25] #136 closed

[2019-12-24 03:26] hyoshioka0128 commented on #137
@TinaMcN - Corrected.
Closed #137.
Thanks.

[2019-12-24 03:26] #137 closed

[2019-12-24 03:26] hyoshioka0128 commented on #145
@TinaMcN - Corrected.
Closed #145.
Thanks.

[2019-12-24 03:26] #145 closed

[2019-12-24 03:27] hyoshioka0128 commented on #146
@TinaMcN - Corrected.
Closed #146.
Thanks.

[2019-12-24 03:27] #146 closed

[2019-12-25 22:21] mypil commented on #212
@TinaMcN - Sure, I assigned @VLG17 to help with this issue.

@VLG17 - As discussed, please do the needful. Thank you.

[2019-12-27 08:56] VLG17 commented on #212
@TinaMcN @mypil There is no issue with the "en-us" article, as pointed out by the OP. The link works there.

The problem is with the "ja-jp" versioning, where the link does not work, because there is no space between the link and the text that comes after.

ja-jp: ![image](https://user-images.githubusercontent.com/41186174/71510408-8123c800-2897-11ea-8424-fa3e4e771320.png)

en-us: ![image](https:/

[2019-12-27 16:19] mypil commented on #212
@TinaMcN - Can your team help to correct the "ja-jp" version of this doc by adding a space between the link and the text that comes after? This might help fix the issue.

Thank you.

[2020-01-03 22:49] TinaMcN commented on #212
@mypil thanks for the suggestion, that fixed the problem.  @hyoshioka0128 問題が修正されたので、あなたはそれを閉じてください (can you please close it as the issue is now fixed)

[2020-01-03 22:56] hyoshioka0128 commented on #212
@TinaMcN - Corrected.
Closed #212.
Thanks.

[2020-01-03 22:56] #212 closed

[2020-01-06 18:18] mypil commented on #144
@TinaMcN - Do you have any updates if this issue has been fixed?

Thank you.

[2020-01-06 18:19] mypil commented on #143
@TinaMcN - Do you have any updates on the latest progress of this issue?

Thank you.

[2020-01-08 01:06] TinaMcN commented on #143
The translators thought they fixed it but it is still broken.  Asked them again to fix it.

[2020-01-08 19:27] TinaMcN commented on #143
@hyoshioka0128 これで問題が修正されました。 フィードバックをありがとう。 (The issue has now been fixed.  Thanks again for the feedback.)

[2020-01-09 08:23] hyoshioka0128 commented on #143
@TinaMcN  - Corrected.
Closed #143.
Thanks.

[2020-01-09 08:23] #143 closed

[2020-01-09 22:26] TinaMcN commented on #144
@mypil the bug was incorrectly assigned.  I reassigned to the localization vendors who will hopefully fix it soon.

[2020-01-10 19:25] TinaMcN commented on #144
@hyoshioka0128 これで問題が修正されました。 フィードバックをありがとう。 (The issue has now been fixed.  Thanks again for the feedback.)

[2020-01-10 22:18] hyoshioka0128 commented on #144
@TinaMcN - Corrected.
Closed #144.
Thanks.

[2020-01-10 22:18] #144 closed

[2020-03-19 13:49] TBBle opened #282 "Wrong date for 19041.153 Slow ring release"
https://docs.microsoft.com/en-us/windows-insider/flight-hub/ gives February 27th 2020 for the 19041.153 Slow Ring release. The blog post is dated March 13th.

Looks like a cut-and-paste oversight from 19041.113, which _was_ pushed on February 27th. See 5deefd7c8f0713833be45feea951d364966aea0d.

Note that this commit is not visible on the master branch's _wip/flight-hub/index.md_ (where the 'Edit'

[2020-03-22 12:27] mypil commented on #282
@TBBle - Thank you for pointing this out.

From our understanding, the issue has been resolved based on this merged commit https://github.com/ItzLevvie/windows-insider/commit/db76a12f0dfaabfabdb4ca0693f743f5bf708fed.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-23 00:34] TBBle commented on #282
@mypil I'm confused. The linked commit updated the 19582 and 19587 builds, not the 19041.153 build, which still appears incorrect on the live document.

I think this ticket was linked to that commit by accident, as it's matched `#282` which in that commit was supposed to be a Pull Request?

[2020-03-23 00:39] TBBle commented on #282
In fact, looking at #280, there's something very odd going on there, many of the commits marked 'Merge pull request #XXX' have entirely different content from the PR they reference.

Is there any chance that a repository-sync script has gone rogue, and/or is reference pull requests from a different repository?

Particularly interesting, there's a merge of PR #280 _in_ PR #280.

[2020-03-23 23:21] mypil commented on #282
@TBBle - As indicated on PR #280 - This Pull request is opened by Docs to resolve syncing conflicts from repo_sync_working_branch to master.

@bleblancMSFT - Can you please share your insights on this issue? I found that this merged commit  [db76a12](https://github.com/ItzLevvie/windows-insider/commit/db76a12f0dfaabfabdb4ca0693f743f5bf708fed) is linked to this issue. Has this issue been resolved?

[2020-03-24 04:04] bleblancMSFT commented on #282
I am not entirely sure what's going on. @DaniHalfin can you help?

[2020-03-24 05:32] DaniHalfin commented on #282
Resolved the blocked PR - lmk if there's anything else @mypil